<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="c47c198730354d7385c1ecd138afaaf8" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_c47c198730354d7385c1ecd138afaaf8 = echarts.init(
            document.getElementById('c47c198730354d7385c1ecd138afaaf8'), 'white', {renderer: 'canvas'});
        var option_c47c198730354d7385c1ecd138afaaf8 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "TBK1",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TBKBP1",
                    "symbolSize": 35,
                    "itemStyle": {
                        "normal": {
                            "color": "orange"
                        }
                    }
                },
                {
                    "name": "ULK1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "TANK",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "TARBP2",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "PRKRA",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPTOR",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "AGO2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ZC3H12A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "EIF2AK2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "IRF3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "DICER1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "AGO1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ATG13",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "BECN1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "RB1CC1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "SQSTM1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ATG14",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ATG101",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PRKAA1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TRAF2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TRAF3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "IKBKG",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "IKBKE",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TRAF1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PLK1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "BIRC2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "AURKA",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "OPTN",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "STING1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "AZI2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "ULK1",
                    "target": "ATG13"
                },
                {
                    "source": "ULK1",
                    "target": "BECN1"
                },
                {
                    "source": "ULK1",
                    "target": "RB1CC1"
                },
                {
                    "source": "ULK1",
                    "target": "SQSTM1"
                },
                {
                    "source": "ULK1",
                    "target": "ATG14"
                },
                {
                    "source": "ULK1",
                    "target": "ATG101"
                },
                {
                    "source": "ULK1",
                    "target": "PRKAA1"
                },
                {
                    "source": "ULK1",
                    "target": "RPTOR"
                },
                {
                    "source": "ATG13",
                    "target": "RB1CC1"
                },
                {
                    "source": "RB1CC1",
                    "target": "TBKBP1"
                },
                {
                    "source": "RB1CC1",
                    "target": "ATG101"
                },
                {
                    "source": "TANK",
                    "target": "TBK1"
                },
                {
                    "source": "TANK",
                    "target": "TRAF2"
                },
                {
                    "source": "TANK",
                    "target": "TRAF3"
                },
                {
                    "source": "TANK",
                    "target": "IKBKG"
                },
                {
                    "source": "TANK",
                    "target": "IKBKE"
                },
                {
                    "source": "TANK",
                    "target": "TRAF1"
                },
                {
                    "source": "TANK",
                    "target": "PLK1"
                },
                {
                    "source": "TANK",
                    "target": "BIRC2"
                },
                {
                    "source": "TANK",
                    "target": "ZC3H12A"
                },
                {
                    "source": "TBK1",
                    "target": "TRAF3"
                },
                {
                    "source": "TBK1",
                    "target": "OPTN"
                },
                {
                    "source": "TBK1",
                    "target": "IRF3"
                },
                {
                    "source": "TBK1",
                    "target": "TRAF2"
                },
                {
                    "source": "TBK1",
                    "target": "STING1"
                },
                {
                    "source": "TBK1",
                    "target": "AZI2"
                },
                {
                    "source": "TBK1",
                    "target": "TBKBP1"
                },
                {
                    "source": "TBK1",
                    "target": "IKBKE"
                },
                {
                    "source": "TRAF2",
                    "target": "IKBKE"
                },
                {
                    "source": "TRAF3",
                    "target": "IKBKE"
                },
                {
                    "source": "IKBKE",
                    "target": "IRF3"
                },
                {
                    "source": "IKBKE",
                    "target": "TBKBP1"
                },
                {
                    "source": "TARBP2",
                    "target": "PRKRA"
                },
                {
                    "source": "TARBP2",
                    "target": "AGO2"
                },
                {
                    "source": "TARBP2",
                    "target": "EIF2AK2"
                },
                {
                    "source": "TARBP2",
                    "target": "DICER1"
                },
                {
                    "source": "TARBP2",
                    "target": "AGO1"
                },
                {
                    "source": "TARBP2",
                    "target": "AURKA"
                },
                {
                    "source": "AGO2",
                    "target": "TBKBP1"
                },
                {
                    "source": "AGO2",
                    "target": "DICER1"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of TBK1 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_c47c198730354d7385c1ecd138afaaf8.setOption(option_c47c198730354d7385c1ecd138afaaf8);
    </script>
</body>
</html>
