<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="fc41cf01c2f14fcdbca6603acb612a91" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_fc41cf01c2f14fcdbca6603acb612a91 = echarts.init(
            document.getElementById('fc41cf01c2f14fcdbca6603acb612a91'), 'white', {renderer: 'canvas'});
        var option_fc41cf01c2f14fcdbca6603acb612a91 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "NFKB2",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MYC",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "BCL3",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "MAP3K14",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "TRAF6",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "REL",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CREBBP",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NFKBIA",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ZBTB17",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "JUN",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MAX",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "EP300",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "FOS",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "FBXW7",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RELB",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HDAC1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NFKB1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RELA",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NOTCH1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "BRCA1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TRRAP",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "KAT2A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ACTL6A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CTBP1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CTBP2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "KAT5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "COPS5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "HDAC3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CHUK",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "IKBKB",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "IKBKG",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "BTRC",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "FBXW11",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CCNE1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "MYC",
                    "target": "MAX"
                },
                {
                    "source": "MYC",
                    "target": "FBXW7"
                },
                {
                    "source": "MYC",
                    "target": "TRRAP"
                },
                {
                    "source": "MYC",
                    "target": "ZBTB17"
                },
                {
                    "source": "MYC",
                    "target": "BRCA1"
                },
                {
                    "source": "MYC",
                    "target": "EP300"
                },
                {
                    "source": "MYC",
                    "target": "KAT2A"
                },
                {
                    "source": "MYC",
                    "target": "ACTL6A"
                },
                {
                    "source": "FBXW7",
                    "target": "NFKB2"
                },
                {
                    "source": "FBXW7",
                    "target": "CCNE1"
                },
                {
                    "source": "FBXW7",
                    "target": "NOTCH1"
                },
                {
                    "source": "EP300",
                    "target": "RELA"
                },
                {
                    "source": "BCL3",
                    "target": "NFKB1"
                },
                {
                    "source": "BCL3",
                    "target": "NFKB2"
                },
                {
                    "source": "BCL3",
                    "target": "CTBP1"
                },
                {
                    "source": "BCL3",
                    "target": "CTBP2"
                },
                {
                    "source": "BCL3",
                    "target": "KAT5"
                },
                {
                    "source": "BCL3",
                    "target": "COPS5"
                },
                {
                    "source": "BCL3",
                    "target": "JUN"
                },
                {
                    "source": "BCL3",
                    "target": "FOS"
                },
                {
                    "source": "BCL3",
                    "target": "HDAC3"
                },
                {
                    "source": "NFKB1",
                    "target": "NFKB2"
                },
                {
                    "source": "NFKB1",
                    "target": "BTRC"
                },
                {
                    "source": "NFKB1",
                    "target": "RELA"
                },
                {
                    "source": "NFKB1",
                    "target": "RELB"
                },
                {
                    "source": "NFKB1",
                    "target": "NFKBIA"
                },
                {
                    "source": "NFKB1",
                    "target": "REL"
                },
                {
                    "source": "NFKB2",
                    "target": "MAP3K14"
                },
                {
                    "source": "NFKB2",
                    "target": "BTRC"
                },
                {
                    "source": "NFKB2",
                    "target": "RELA"
                },
                {
                    "source": "NFKB2",
                    "target": "RELB"
                },
                {
                    "source": "NFKB2",
                    "target": "FBXW11"
                },
                {
                    "source": "NFKB2",
                    "target": "REL"
                },
                {
                    "source": "NFKB2",
                    "target": "NFKBIA"
                },
                {
                    "source": "NFKB2",
                    "target": "CHUK"
                },
                {
                    "source": "MAP3K14",
                    "target": "CHUK"
                },
                {
                    "source": "MAP3K14",
                    "target": "IKBKB"
                },
                {
                    "source": "MAP3K14",
                    "target": "IKBKG"
                },
                {
                    "source": "MAP3K14",
                    "target": "TRAF6"
                },
                {
                    "source": "CHUK",
                    "target": "NFKBIA"
                },
                {
                    "source": "CHUK",
                    "target": "IKBKG"
                },
                {
                    "source": "CHUK",
                    "target": "IKBKB"
                },
                {
                    "source": "IKBKB",
                    "target": "NFKBIA"
                },
                {
                    "source": "BTRC",
                    "target": "NFKBIA"
                },
                {
                    "source": "RELA",
                    "target": "NFKBIA"
                },
                {
                    "source": "RELA",
                    "target": "CREBBP"
                },
                {
                    "source": "RELA",
                    "target": "HDAC1"
                },
                {
                    "source": "RELA",
                    "target": "RELB"
                },
                {
                    "source": "RELA",
                    "target": "REL"
                },
                {
                    "source": "RELB",
                    "target": "NFKBIA"
                },
                {
                    "source": "RELB",
                    "target": "REL"
                },
                {
                    "source": "FBXW11",
                    "target": "NFKBIA"
                },
                {
                    "source": "REL",
                    "target": "NFKBIA"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of NFKB2 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_fc41cf01c2f14fcdbca6603acb612a91.setOption(option_fc41cf01c2f14fcdbca6603acb612a91);
    </script>
</body>
</html>
