<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="213af690d0664d44a8f2b3949ed755c2" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_213af690d0664d44a8f2b3949ed755c2 = echarts.init(
            document.getElementById('213af690d0664d44a8f2b3949ed755c2'), 'white', {renderer: 'canvas'});
        var option_213af690d0664d44a8f2b3949ed755c2 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "WWTR1",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "VGLL1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "YAP1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "TRIM27",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TEAD4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CNOT1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TEAD3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TEAD2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MEIS2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TP73",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "WBP2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TEAD1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TRIM23",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TLE5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "RIPPLY1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "LATS1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "LATS2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "AMOT",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "BTRC",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "FBXW11",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "HIRA",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "VGLL1",
                    "target": "TEAD1"
                },
                {
                    "source": "VGLL1",
                    "target": "TEAD4"
                },
                {
                    "source": "VGLL1",
                    "target": "TEAD2"
                },
                {
                    "source": "VGLL1",
                    "target": "TEAD3"
                },
                {
                    "source": "VGLL1",
                    "target": "MEIS2"
                },
                {
                    "source": "VGLL1",
                    "target": "TRIM23"
                },
                {
                    "source": "VGLL1",
                    "target": "TLE5"
                },
                {
                    "source": "VGLL1",
                    "target": "RIPPLY1"
                },
                {
                    "source": "TEAD1",
                    "target": "YAP1"
                },
                {
                    "source": "TEAD1",
                    "target": "WWTR1"
                },
                {
                    "source": "TEAD1",
                    "target": "TEAD4"
                },
                {
                    "source": "TEAD4",
                    "target": "YAP1"
                },
                {
                    "source": "TEAD4",
                    "target": "WWTR1"
                },
                {
                    "source": "TEAD4",
                    "target": "TRIM27"
                },
                {
                    "source": "TEAD4",
                    "target": "TEAD2"
                },
                {
                    "source": "TEAD2",
                    "target": "WWTR1"
                },
                {
                    "source": "TEAD2",
                    "target": "YAP1"
                },
                {
                    "source": "TEAD2",
                    "target": "HIRA"
                },
                {
                    "source": "TEAD3",
                    "target": "WWTR1"
                },
                {
                    "source": "TEAD3",
                    "target": "YAP1"
                },
                {
                    "source": "TEAD3",
                    "target": "CNOT1"
                },
                {
                    "source": "YAP1",
                    "target": "LATS1"
                },
                {
                    "source": "YAP1",
                    "target": "LATS2"
                },
                {
                    "source": "YAP1",
                    "target": "AMOT"
                },
                {
                    "source": "YAP1",
                    "target": "BTRC"
                },
                {
                    "source": "YAP1",
                    "target": "TP73"
                },
                {
                    "source": "YAP1",
                    "target": "WBP2"
                },
                {
                    "source": "LATS1",
                    "target": "WWTR1"
                },
                {
                    "source": "BTRC",
                    "target": "WWTR1"
                },
                {
                    "source": "WWTR1",
                    "target": "FBXW11"
                },
                {
                    "source": "WWTR1",
                    "target": "WBP2"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of WWTR1 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_213af690d0664d44a8f2b3949ed755c2.setOption(option_213af690d0664d44a8f2b3949ed755c2);
    </script>
</body>
</html>
