<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="dd16de16f7cd4552b953d7caff1ebc03" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_dd16de16f7cd4552b953d7caff1ebc03 = echarts.init(
            document.getElementById('dd16de16f7cd4552b953d7caff1ebc03'), 'white', {renderer: 'canvas'});
        var option_dd16de16f7cd4552b953d7caff1ebc03 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "FGFR3",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "GMEB1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "SDC4",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "EFNB3",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "GMEB2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MYC",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RTEL1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SDC1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "SDC2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CD44",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "FGF1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "FGF2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "GPR183",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "SGTA",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "EPHA4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CSPG4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "FGF9",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "GMEB1",
                    "target": "GMEB2"
                },
                {
                    "source": "GMEB1",
                    "target": "SDC1"
                },
                {
                    "source": "GMEB1",
                    "target": "SDC2"
                },
                {
                    "source": "GMEB1",
                    "target": "CD44"
                },
                {
                    "source": "SDC2",
                    "target": "FGFR3"
                },
                {
                    "source": "SDC2",
                    "target": "FGF2"
                },
                {
                    "source": "SDC2",
                    "target": "GPR183"
                },
                {
                    "source": "SDC4",
                    "target": "FGF1"
                },
                {
                    "source": "SDC4",
                    "target": "FGF2"
                },
                {
                    "source": "SDC4",
                    "target": "GPR183"
                },
                {
                    "source": "SDC4",
                    "target": "SGTA"
                },
                {
                    "source": "SDC4",
                    "target": "MYC"
                },
                {
                    "source": "FGF1",
                    "target": "FGFR3"
                },
                {
                    "source": "FGF2",
                    "target": "CSPG4"
                },
                {
                    "source": "EFNB3",
                    "target": "EPHA4"
                },
                {
                    "source": "EFNB3",
                    "target": "RTEL1"
                },
                {
                    "source": "EPHA4",
                    "target": "FGFR3"
                },
                {
                    "source": "FGFR3",
                    "target": "CSPG4"
                },
                {
                    "source": "FGFR3",
                    "target": "FGF9"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of FGFR3 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_dd16de16f7cd4552b953d7caff1ebc03.setOption(option_dd16de16f7cd4552b953d7caff1ebc03);
    </script>
</body>
</html>
