<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="5150d3c397f645e597a81870108f7fea" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_5150d3c397f645e597a81870108f7fea = echarts.init(
            document.getElementById('5150d3c397f645e597a81870108f7fea'), 'white', {renderer: 'canvas'});
        var option_5150d3c397f645e597a81870108f7fea = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "RPS3A",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPS2",
                    "symbolSize": 35,
                    "itemStyle": {
                        "normal": {
                            "color": "orange"
                        }
                    }
                },
                {
                    "name": "RPS10",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "RRS1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "RPL37A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPS16",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPL11",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPS12",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "STAU1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPS9",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPS13",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NSA2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPL6",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPS19",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NIFK",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPS20",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPS4X",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "FTSJ3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPL31",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPS15",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPF2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPS14",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPS24",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPS5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPS6",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPSA",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPS25",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPS8",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPS3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "RPS10",
                    "target": "RPS2"
                },
                {
                    "source": "RPS10",
                    "target": "RPS3"
                },
                {
                    "source": "RPS10",
                    "target": "RPS4X"
                },
                {
                    "source": "RPS10",
                    "target": "RPS16"
                },
                {
                    "source": "RPS10",
                    "target": "RPS14"
                },
                {
                    "source": "RPS10",
                    "target": "RPS8"
                },
                {
                    "source": "RPS10",
                    "target": "RPS12"
                },
                {
                    "source": "RPS10",
                    "target": "RPS13"
                },
                {
                    "source": "RPS10",
                    "target": "RPS3A"
                },
                {
                    "source": "RPS10",
                    "target": "RPS20"
                },
                {
                    "source": "RPS2",
                    "target": "RPS3"
                },
                {
                    "source": "RPS2",
                    "target": "RPS3A"
                },
                {
                    "source": "RPS2",
                    "target": "RPS5"
                },
                {
                    "source": "RPS2",
                    "target": "RPS15"
                },
                {
                    "source": "RPS2",
                    "target": "RPS24"
                },
                {
                    "source": "RPS2",
                    "target": "RPS20"
                },
                {
                    "source": "RPS2",
                    "target": "RPS9"
                },
                {
                    "source": "RPS2",
                    "target": "RPS13"
                },
                {
                    "source": "RPS3",
                    "target": "RPS3A"
                },
                {
                    "source": "RPS3",
                    "target": "RPS20"
                },
                {
                    "source": "RPS3",
                    "target": "RPSA"
                },
                {
                    "source": "RPS3",
                    "target": "RPS5"
                },
                {
                    "source": "RPS3",
                    "target": "RPS15"
                },
                {
                    "source": "RPS3",
                    "target": "RPS9"
                },
                {
                    "source": "RPS4X",
                    "target": "RPS3A"
                },
                {
                    "source": "RPS4X",
                    "target": "RPS20"
                },
                {
                    "source": "RPS4X",
                    "target": "RPS5"
                },
                {
                    "source": "RPS16",
                    "target": "RPS13"
                },
                {
                    "source": "RPS14",
                    "target": "RPS3A"
                },
                {
                    "source": "RPS14",
                    "target": "RPS13"
                },
                {
                    "source": "RPS8",
                    "target": "RPS3A"
                },
                {
                    "source": "RPS8",
                    "target": "RPS13"
                },
                {
                    "source": "RPS13",
                    "target": "RPS6"
                },
                {
                    "source": "RPS3A",
                    "target": "RPS6"
                },
                {
                    "source": "RPS3A",
                    "target": "RPS20"
                },
                {
                    "source": "RPS3A",
                    "target": "RPS25"
                },
                {
                    "source": "RPS3A",
                    "target": "RPL37A"
                },
                {
                    "source": "RPS3A",
                    "target": "RPS19"
                },
                {
                    "source": "RPS3A",
                    "target": "RPS5"
                },
                {
                    "source": "RPS3A",
                    "target": "RPS24"
                },
                {
                    "source": "RPS3A",
                    "target": "RPS9"
                },
                {
                    "source": "RRS1",
                    "target": "NIFK"
                },
                {
                    "source": "RRS1",
                    "target": "STAU1"
                },
                {
                    "source": "RRS1",
                    "target": "RPS6"
                },
                {
                    "source": "RRS1",
                    "target": "RPF2"
                },
                {
                    "source": "RRS1",
                    "target": "FTSJ3"
                },
                {
                    "source": "RRS1",
                    "target": "RPL6"
                },
                {
                    "source": "RRS1",
                    "target": "RPL11"
                },
                {
                    "source": "RRS1",
                    "target": "RPS24"
                },
                {
                    "source": "RRS1",
                    "target": "NSA2"
                },
                {
                    "source": "RRS1",
                    "target": "RPL31"
                },
                {
                    "source": "RPS6",
                    "target": "RPS15"
                },
                {
                    "source": "RPS6",
                    "target": "RPS24"
                },
                {
                    "source": "RPS6",
                    "target": "RPS9"
                },
                {
                    "source": "RPS24",
                    "target": "RPS9"
                },
                {
                    "source": "RPS5",
                    "target": "RPS19"
                },
                {
                    "source": "RPS15",
                    "target": "RPS19"
                },
                {
                    "source": "RPS15",
                    "target": "RPSA"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of RPS3A union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_5150d3c397f645e597a81870108f7fea.setOption(option_5150d3c397f645e597a81870108f7fea);
    </script>
</body>
</html>
