<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="f01ffb87e6824945b68b534164c84af0" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_f01ffb87e6824945b68b534164c84af0 = echarts.init(
            document.getElementById('f01ffb87e6824945b68b534164c84af0'), 'white', {renderer: 'canvas'});
        var option_f01ffb87e6824945b68b534164c84af0 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "TMED7",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "GORASP2",
                    "symbolSize": 35,
                    "itemStyle": {
                        "normal": {
                            "color": "orange"
                        }
                    }
                },
                {
                    "name": "GORASP1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "GOLGA2",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "USO1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "BLZF1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TMED2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "STX7",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "STX12",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "RAB2A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TMED10",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TMED4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TMED3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TMED9",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "GORASP2",
                    "target": "GOLGA2"
                },
                {
                    "source": "GORASP2",
                    "target": "BLZF1"
                },
                {
                    "source": "GORASP2",
                    "target": "TMED2"
                },
                {
                    "source": "GORASP2",
                    "target": "TMED7"
                },
                {
                    "source": "GOLGA2",
                    "target": "GORASP1"
                },
                {
                    "source": "GOLGA2",
                    "target": "USO1"
                },
                {
                    "source": "GOLGA2",
                    "target": "RAB2A"
                },
                {
                    "source": "TMED2",
                    "target": "GORASP1"
                },
                {
                    "source": "TMED2",
                    "target": "TMED7"
                },
                {
                    "source": "TMED2",
                    "target": "TMED4"
                },
                {
                    "source": "TMED2",
                    "target": "TMED3"
                },
                {
                    "source": "TMED2",
                    "target": "TMED9"
                },
                {
                    "source": "GORASP1",
                    "target": "STX7"
                },
                {
                    "source": "GORASP1",
                    "target": "STX12"
                },
                {
                    "source": "GORASP1",
                    "target": "TMED7"
                },
                {
                    "source": "TMED7",
                    "target": "TMED10"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of TMED7 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_f01ffb87e6824945b68b534164c84af0.setOption(option_f01ffb87e6824945b68b534164c84af0);
    </script>
</body>
</html>
