<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="faabc10309964129ae0c4ab5c08d42f1" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_faabc10309964129ae0c4ab5c08d42f1 = echarts.init(
            document.getElementById('faabc10309964129ae0c4ab5c08d42f1'), 'white', {renderer: 'canvas'});
        var option_faabc10309964129ae0c4ab5c08d42f1 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "APC",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "AXIN1",
                    "symbolSize": 35,
                    "itemStyle": {
                        "normal": {
                            "color": "orange"
                        }
                    }
                },
                {
                    "name": "TCF4",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "MAPT",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "AXIN2",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "CTNNA1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "YWHAZ",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NEUROD1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HDAC6",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SMAD7",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TNKS",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TP53",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HSPA8",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MAPRE1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PIAS4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CTNNB1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ID3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CBFA2T3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "GSK3B",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "STUB1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CDK5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PRKACA",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "SNCA",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "RNF146",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "GSK3A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ANKRD6",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "BTRC",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CTBP1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "JUP",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "FBXW11",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CSNK2A1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "LRP6",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MAP3K1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "SMURF1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "AKT1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CDH1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "TCF4",
                    "target": "CTNNB1"
                },
                {
                    "source": "TCF4",
                    "target": "ID3"
                },
                {
                    "source": "TCF4",
                    "target": "PIAS4"
                },
                {
                    "source": "TCF4",
                    "target": "CBFA2T3"
                },
                {
                    "source": "TCF4",
                    "target": "NEUROD1"
                },
                {
                    "source": "CTNNB1",
                    "target": "AXIN2"
                },
                {
                    "source": "CTNNB1",
                    "target": "APC"
                },
                {
                    "source": "CTNNB1",
                    "target": "AXIN1"
                },
                {
                    "source": "CTNNB1",
                    "target": "GSK3B"
                },
                {
                    "source": "CTNNB1",
                    "target": "BTRC"
                },
                {
                    "source": "CTNNB1",
                    "target": "CDH1"
                },
                {
                    "source": "MAPT",
                    "target": "GSK3B"
                },
                {
                    "source": "MAPT",
                    "target": "STUB1"
                },
                {
                    "source": "MAPT",
                    "target": "YWHAZ"
                },
                {
                    "source": "MAPT",
                    "target": "CDK5"
                },
                {
                    "source": "MAPT",
                    "target": "HSPA8"
                },
                {
                    "source": "MAPT",
                    "target": "PRKACA"
                },
                {
                    "source": "MAPT",
                    "target": "HDAC6"
                },
                {
                    "source": "MAPT",
                    "target": "SNCA"
                },
                {
                    "source": "GSK3B",
                    "target": "AXIN2"
                },
                {
                    "source": "GSK3B",
                    "target": "APC"
                },
                {
                    "source": "GSK3B",
                    "target": "AXIN1"
                },
                {
                    "source": "GSK3B",
                    "target": "AKT1"
                },
                {
                    "source": "GSK3B",
                    "target": "LRP6"
                },
                {
                    "source": "AXIN2",
                    "target": "RNF146"
                },
                {
                    "source": "AXIN2",
                    "target": "GSK3A"
                },
                {
                    "source": "AXIN2",
                    "target": "ANKRD6"
                },
                {
                    "source": "AXIN2",
                    "target": "SMAD7"
                },
                {
                    "source": "RNF146",
                    "target": "TNKS"
                },
                {
                    "source": "GSK3A",
                    "target": "AXIN1"
                },
                {
                    "source": "GSK3A",
                    "target": "AKT1"
                },
                {
                    "source": "GSK3A",
                    "target": "LRP6"
                },
                {
                    "source": "SMAD7",
                    "target": "SMURF1"
                },
                {
                    "source": "APC",
                    "target": "AXIN1"
                },
                {
                    "source": "APC",
                    "target": "BTRC"
                },
                {
                    "source": "APC",
                    "target": "CTNNA1"
                },
                {
                    "source": "APC",
                    "target": "MAPRE1"
                },
                {
                    "source": "APC",
                    "target": "CTBP1"
                },
                {
                    "source": "APC",
                    "target": "JUP"
                },
                {
                    "source": "APC",
                    "target": "FBXW11"
                },
                {
                    "source": "APC",
                    "target": "CSNK2A1"
                },
                {
                    "source": "AXIN1",
                    "target": "LRP6"
                },
                {
                    "source": "AXIN1",
                    "target": "BTRC"
                },
                {
                    "source": "AXIN1",
                    "target": "MAP3K1"
                },
                {
                    "source": "AXIN1",
                    "target": "SMURF1"
                },
                {
                    "source": "AXIN1",
                    "target": "TP53"
                },
                {
                    "source": "AXIN1",
                    "target": "TNKS"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of APC union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_faabc10309964129ae0c4ab5c08d42f1.setOption(option_faabc10309964129ae0c4ab5c08d42f1);
    </script>
</body>
</html>
