<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="3071bda8686940ecba2000ab1cfe4014" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_3071bda8686940ecba2000ab1cfe4014 = echarts.init(
            document.getElementById('3071bda8686940ecba2000ab1cfe4014'), 'white', {renderer: 'canvas'});
        var option_3071bda8686940ecba2000ab1cfe4014 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "MXD1",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SAP130",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "FOXK2",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "MYCN",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "IRF2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SAP30",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ING2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MAX",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RBBP7",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SAP30L",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SIN3A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HDAC1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ZBTB17",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ARID4A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ARID4B",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "SIN3B",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TBL1X",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "HCFC1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "BMI1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "RNF2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "WDR5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "SUDS3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "BRMS1L",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "SAP130",
                    "target": "HDAC1"
                },
                {
                    "source": "SAP130",
                    "target": "FOXK2"
                },
                {
                    "source": "SAP130",
                    "target": "RBBP7"
                },
                {
                    "source": "SAP130",
                    "target": "MXD1"
                },
                {
                    "source": "SAP130",
                    "target": "ING2"
                },
                {
                    "source": "SAP130",
                    "target": "SIN3A"
                },
                {
                    "source": "SAP130",
                    "target": "ARID4B"
                },
                {
                    "source": "SAP130",
                    "target": "SAP30"
                },
                {
                    "source": "SAP130",
                    "target": "SIN3B"
                },
                {
                    "source": "HDAC1",
                    "target": "FOXK2"
                },
                {
                    "source": "HDAC1",
                    "target": "SIN3A"
                },
                {
                    "source": "HDAC1",
                    "target": "ARID4B"
                },
                {
                    "source": "HDAC1",
                    "target": "SAP30L"
                },
                {
                    "source": "HDAC1",
                    "target": "SUDS3"
                },
                {
                    "source": "HDAC1",
                    "target": "ARID4A"
                },
                {
                    "source": "HDAC1",
                    "target": "BRMS1L"
                },
                {
                    "source": "FOXK2",
                    "target": "SIN3A"
                },
                {
                    "source": "FOXK2",
                    "target": "SAP30"
                },
                {
                    "source": "FOXK2",
                    "target": "TBL1X"
                },
                {
                    "source": "FOXK2",
                    "target": "HCFC1"
                },
                {
                    "source": "FOXK2",
                    "target": "IRF2"
                },
                {
                    "source": "FOXK2",
                    "target": "RBBP7"
                },
                {
                    "source": "RBBP7",
                    "target": "ARID4B"
                },
                {
                    "source": "RBBP7",
                    "target": "SAP30L"
                },
                {
                    "source": "RBBP7",
                    "target": "SUDS3"
                },
                {
                    "source": "RBBP7",
                    "target": "ARID4A"
                },
                {
                    "source": "RBBP7",
                    "target": "BRMS1L"
                },
                {
                    "source": "MXD1",
                    "target": "MAX"
                },
                {
                    "source": "MXD1",
                    "target": "SIN3A"
                },
                {
                    "source": "MXD1",
                    "target": "ARID4B"
                },
                {
                    "source": "MXD1",
                    "target": "SAP30L"
                },
                {
                    "source": "MXD1",
                    "target": "SUDS3"
                },
                {
                    "source": "MXD1",
                    "target": "ARID4A"
                },
                {
                    "source": "MXD1",
                    "target": "BRMS1L"
                },
                {
                    "source": "SIN3A",
                    "target": "SAP30"
                },
                {
                    "source": "SIN3A",
                    "target": "SUDS3"
                },
                {
                    "source": "SIN3A",
                    "target": "ARID4B"
                },
                {
                    "source": "SIN3A",
                    "target": "SAP30L"
                },
                {
                    "source": "SIN3A",
                    "target": "ARID4A"
                },
                {
                    "source": "ARID4B",
                    "target": "SAP30"
                },
                {
                    "source": "SAP30",
                    "target": "ARID4A"
                },
                {
                    "source": "SAP30",
                    "target": "BRMS1L"
                },
                {
                    "source": "SIN3B",
                    "target": "SUDS3"
                },
                {
                    "source": "MYCN",
                    "target": "MAX"
                },
                {
                    "source": "MYCN",
                    "target": "BMI1"
                },
                {
                    "source": "MYCN",
                    "target": "RNF2"
                },
                {
                    "source": "MYCN",
                    "target": "ZBTB17"
                },
                {
                    "source": "MYCN",
                    "target": "WDR5"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of MXD1 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_3071bda8686940ecba2000ab1cfe4014.setOption(option_3071bda8686940ecba2000ab1cfe4014);
    </script>
</body>
</html>
