<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="cafefdf511974316a998ea1542e6f20f" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_cafefdf511974316a998ea1542e6f20f = echarts.init(
            document.getElementById('cafefdf511974316a998ea1542e6f20f'), 'white', {renderer: 'canvas'});
        var option_cafefdf511974316a998ea1542e6f20f = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "GNG8",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CXCR5",
                    "symbolSize": 35,
                    "itemStyle": {
                        "normal": {
                            "color": "orange"
                        }
                    }
                },
                {
                    "name": "RGS3",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "ARHGEF1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "ARHGEF11",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "SEPTIN2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "GNA13",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "RHOA",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "GNA12",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "RHOC",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "RHOB",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "GNB4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "GNB1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "GNB3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "GNA11",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "GNAI2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CXCR4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TBXA2R",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "RGS3",
                    "target": "SEPTIN2"
                },
                {
                    "source": "RGS3",
                    "target": "GNA11"
                },
                {
                    "source": "ARHGEF1",
                    "target": "GNA13"
                },
                {
                    "source": "ARHGEF1",
                    "target": "RHOA"
                },
                {
                    "source": "ARHGEF1",
                    "target": "GNA12"
                },
                {
                    "source": "ARHGEF1",
                    "target": "RHOC"
                },
                {
                    "source": "ARHGEF1",
                    "target": "RHOB"
                },
                {
                    "source": "GNA13",
                    "target": "ARHGEF11"
                },
                {
                    "source": "GNA13",
                    "target": "CXCR5"
                },
                {
                    "source": "GNA13",
                    "target": "TBXA2R"
                },
                {
                    "source": "RHOA",
                    "target": "ARHGEF11"
                },
                {
                    "source": "GNA12",
                    "target": "ARHGEF11"
                },
                {
                    "source": "GNG8",
                    "target": "GNB4"
                },
                {
                    "source": "GNG8",
                    "target": "GNB1"
                },
                {
                    "source": "GNG8",
                    "target": "GNB3"
                },
                {
                    "source": "GNG8",
                    "target": "GNA11"
                },
                {
                    "source": "GNG8",
                    "target": "CXCR5"
                },
                {
                    "source": "GNB4",
                    "target": "GNAI2"
                },
                {
                    "source": "GNB1",
                    "target": "GNA11"
                },
                {
                    "source": "GNB3",
                    "target": "CXCR5"
                },
                {
                    "source": "GNB3",
                    "target": "GNAI2"
                },
                {
                    "source": "GNA11",
                    "target": "CXCR5"
                },
                {
                    "source": "GNA11",
                    "target": "TBXA2R"
                },
                {
                    "source": "CXCR5",
                    "target": "GNAI2"
                },
                {
                    "source": "CXCR5",
                    "target": "CXCR4"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of GNG8 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_cafefdf511974316a998ea1542e6f20f.setOption(option_cafefdf511974316a998ea1542e6f20f);
    </script>
</body>
</html>
