<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="1037fdc91b1440d6b13baa1e9aa09f55" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_1037fdc91b1440d6b13baa1e9aa09f55 = echarts.init(
            document.getElementById('1037fdc91b1440d6b13baa1e9aa09f55'), 'white', {renderer: 'canvas'});
        var option_1037fdc91b1440d6b13baa1e9aa09f55 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "IFIH1",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MAVS",
                    "symbolSize": 35,
                    "itemStyle": {
                        "normal": {
                            "color": "orange"
                        }
                    }
                },
                {
                    "name": "ZNF598",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "TANK",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "TRAF6",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ZC3H7A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PCBP2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ZC3H12A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "EEF2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "EIF4E2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "DDX58",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ZCCHC3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "IRF3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ESR1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HDLBP",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "GIGYF2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "STK25",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TRAF3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TRAF2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TBK1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TRAF5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "IKBKE",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "IKBKG",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TRAF1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PLK1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "BIRC2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TRIM65",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "USP3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TRIM40",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "ZNF598",
                    "target": "GIGYF2"
                },
                {
                    "source": "ZNF598",
                    "target": "STK25"
                },
                {
                    "source": "ZNF598",
                    "target": "EEF2"
                },
                {
                    "source": "ZNF598",
                    "target": "ESR1"
                },
                {
                    "source": "ZNF598",
                    "target": "EIF4E2"
                },
                {
                    "source": "ZNF598",
                    "target": "DDX58"
                },
                {
                    "source": "ZNF598",
                    "target": "HDLBP"
                },
                {
                    "source": "ZNF598",
                    "target": "ZC3H7A"
                },
                {
                    "source": "DDX58",
                    "target": "MAVS"
                },
                {
                    "source": "MAVS",
                    "target": "TRAF3"
                },
                {
                    "source": "MAVS",
                    "target": "TRAF6"
                },
                {
                    "source": "MAVS",
                    "target": "TRAF2"
                },
                {
                    "source": "MAVS",
                    "target": "TBK1"
                },
                {
                    "source": "MAVS",
                    "target": "IFIH1"
                },
                {
                    "source": "MAVS",
                    "target": "IRF3"
                },
                {
                    "source": "MAVS",
                    "target": "TRAF5"
                },
                {
                    "source": "MAVS",
                    "target": "IKBKE"
                },
                {
                    "source": "TRAF3",
                    "target": "TANK"
                },
                {
                    "source": "TRAF3",
                    "target": "TBK1"
                },
                {
                    "source": "TRAF3",
                    "target": "IKBKE"
                },
                {
                    "source": "TRAF6",
                    "target": "IKBKG"
                },
                {
                    "source": "TRAF6",
                    "target": "TRAF5"
                },
                {
                    "source": "TRAF2",
                    "target": "TANK"
                },
                {
                    "source": "TRAF2",
                    "target": "BIRC2"
                },
                {
                    "source": "TRAF2",
                    "target": "TBK1"
                },
                {
                    "source": "TRAF2",
                    "target": "IKBKE"
                },
                {
                    "source": "TBK1",
                    "target": "TANK"
                },
                {
                    "source": "TBK1",
                    "target": "IRF3"
                },
                {
                    "source": "TBK1",
                    "target": "IKBKE"
                },
                {
                    "source": "IFIH1",
                    "target": "TRIM65"
                },
                {
                    "source": "IFIH1",
                    "target": "USP3"
                },
                {
                    "source": "IFIH1",
                    "target": "ZCCHC3"
                },
                {
                    "source": "IFIH1",
                    "target": "TRIM40"
                },
                {
                    "source": "IFIH1",
                    "target": "PCBP2"
                },
                {
                    "source": "IRF3",
                    "target": "IKBKE"
                },
                {
                    "source": "IKBKE",
                    "target": "TANK"
                },
                {
                    "source": "TANK",
                    "target": "IKBKG"
                },
                {
                    "source": "TANK",
                    "target": "TRAF1"
                },
                {
                    "source": "TANK",
                    "target": "PLK1"
                },
                {
                    "source": "TANK",
                    "target": "BIRC2"
                },
                {
                    "source": "TANK",
                    "target": "ZC3H12A"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of IFIH1 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_1037fdc91b1440d6b13baa1e9aa09f55.setOption(option_1037fdc91b1440d6b13baa1e9aa09f55);
    </script>
</body>
</html>
