<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="eba0c0f9b8754f099744548813dea168" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_eba0c0f9b8754f099744548813dea168 = echarts.init(
            document.getElementById('eba0c0f9b8754f099744548813dea168'), 'white', {renderer: 'canvas'});
        var option_eba0c0f9b8754f099744548813dea168 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "SELENOS",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NCOA1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "RXRA",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "HERPUD1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "RARA",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ESR1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "KPNB1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "VCP",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PPARG",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SYVN1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "AMFR",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "UBQLN2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "DERL1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PSEN1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "DERL2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CFTR",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "NCOA1",
                    "target": "ESR1"
                },
                {
                    "source": "NCOA1",
                    "target": "PPARG"
                },
                {
                    "source": "NCOA1",
                    "target": "RXRA"
                },
                {
                    "source": "NCOA1",
                    "target": "RARA"
                },
                {
                    "source": "PPARG",
                    "target": "RXRA"
                },
                {
                    "source": "PPARG",
                    "target": "SELENOS"
                },
                {
                    "source": "RXRA",
                    "target": "RARA"
                },
                {
                    "source": "HERPUD1",
                    "target": "SYVN1"
                },
                {
                    "source": "HERPUD1",
                    "target": "AMFR"
                },
                {
                    "source": "HERPUD1",
                    "target": "VCP"
                },
                {
                    "source": "HERPUD1",
                    "target": "UBQLN2"
                },
                {
                    "source": "HERPUD1",
                    "target": "DERL1"
                },
                {
                    "source": "HERPUD1",
                    "target": "PSEN1"
                },
                {
                    "source": "SYVN1",
                    "target": "SELENOS"
                },
                {
                    "source": "SYVN1",
                    "target": "VCP"
                },
                {
                    "source": "SYVN1",
                    "target": "DERL1"
                },
                {
                    "source": "SYVN1",
                    "target": "DERL2"
                },
                {
                    "source": "AMFR",
                    "target": "SELENOS"
                },
                {
                    "source": "AMFR",
                    "target": "VCP"
                },
                {
                    "source": "AMFR",
                    "target": "DERL1"
                },
                {
                    "source": "AMFR",
                    "target": "DERL2"
                },
                {
                    "source": "VCP",
                    "target": "SELENOS"
                },
                {
                    "source": "VCP",
                    "target": "DERL1"
                },
                {
                    "source": "VCP",
                    "target": "DERL2"
                },
                {
                    "source": "VCP",
                    "target": "CFTR"
                },
                {
                    "source": "DERL1",
                    "target": "SELENOS"
                },
                {
                    "source": "SELENOS",
                    "target": "DERL2"
                },
                {
                    "source": "SELENOS",
                    "target": "KPNB1"
                },
                {
                    "source": "SELENOS",
                    "target": "CFTR"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of SELENOS union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_eba0c0f9b8754f099744548813dea168.setOption(option_eba0c0f9b8754f099744548813dea168);
    </script>
</body>
</html>
