<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="e67f58149e5e4c74a12ba209da0d70a0" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_e67f58149e5e4c74a12ba209da0d70a0 = echarts.init(
            document.getElementById('e67f58149e5e4c74a12ba209da0d70a0'), 'white', {renderer: 'canvas'});
        var option_e67f58149e5e4c74a12ba209da0d70a0 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "RXRG",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NCOA3",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "NCOA1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "RXRB",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "NR1I2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NR1H3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NR1H2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RXRA",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RARB",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "THRB",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "AR",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "STAT6",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PPARD",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "EP300",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RARA",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NR1H4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ESR1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ESR2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NCOR2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PPARG",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "VDR",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RARG",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CREBBP",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PPARA",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NCOR1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "NCOA6",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "NCOA3",
                    "target": "ESR1"
                },
                {
                    "source": "NCOA3",
                    "target": "CREBBP"
                },
                {
                    "source": "NCOA3",
                    "target": "EP300"
                },
                {
                    "source": "NCOA3",
                    "target": "PPARG"
                },
                {
                    "source": "NCOA3",
                    "target": "ESR2"
                },
                {
                    "source": "NCOA3",
                    "target": "RARA"
                },
                {
                    "source": "NCOA3",
                    "target": "VDR"
                },
                {
                    "source": "NCOA3",
                    "target": "AR"
                },
                {
                    "source": "ESR1",
                    "target": "NCOA1"
                },
                {
                    "source": "CREBBP",
                    "target": "NCOA1"
                },
                {
                    "source": "EP300",
                    "target": "PPARA"
                },
                {
                    "source": "PPARG",
                    "target": "NCOA1"
                },
                {
                    "source": "PPARG",
                    "target": "RXRB"
                },
                {
                    "source": "PPARG",
                    "target": "RXRA"
                },
                {
                    "source": "ESR2",
                    "target": "NCOA1"
                },
                {
                    "source": "RARA",
                    "target": "NCOA1"
                },
                {
                    "source": "RARA",
                    "target": "RXRB"
                },
                {
                    "source": "RARA",
                    "target": "RXRG"
                },
                {
                    "source": "RARA",
                    "target": "RXRA"
                },
                {
                    "source": "RARA",
                    "target": "NCOR1"
                },
                {
                    "source": "RARA",
                    "target": "NCOR2"
                },
                {
                    "source": "RARA",
                    "target": "RARB"
                },
                {
                    "source": "VDR",
                    "target": "NCOA1"
                },
                {
                    "source": "VDR",
                    "target": "RXRG"
                },
                {
                    "source": "VDR",
                    "target": "RXRA"
                },
                {
                    "source": "VDR",
                    "target": "NCOR1"
                },
                {
                    "source": "NCOA1",
                    "target": "RXRA"
                },
                {
                    "source": "NCOA1",
                    "target": "STAT6"
                },
                {
                    "source": "NCOA1",
                    "target": "NR1I2"
                },
                {
                    "source": "NCOA1",
                    "target": "THRB"
                },
                {
                    "source": "NCOA1",
                    "target": "RARB"
                },
                {
                    "source": "NCOA1",
                    "target": "PPARA"
                },
                {
                    "source": "NCOA1",
                    "target": "PPARD"
                },
                {
                    "source": "NCOA1",
                    "target": "RARG"
                },
                {
                    "source": "RXRA",
                    "target": "RXRG"
                },
                {
                    "source": "RXRA",
                    "target": "NR1H2"
                },
                {
                    "source": "RXRA",
                    "target": "NR1H3"
                },
                {
                    "source": "RXRA",
                    "target": "NCOA6"
                },
                {
                    "source": "RXRA",
                    "target": "PPARA"
                },
                {
                    "source": "RXRA",
                    "target": "PPARD"
                },
                {
                    "source": "NR1I2",
                    "target": "RXRB"
                },
                {
                    "source": "RXRB",
                    "target": "NR1H3"
                },
                {
                    "source": "RXRB",
                    "target": "RARG"
                },
                {
                    "source": "RXRB",
                    "target": "RARB"
                },
                {
                    "source": "RXRB",
                    "target": "NR1H4"
                },
                {
                    "source": "RXRB",
                    "target": "NR1H2"
                },
                {
                    "source": "NR1H3",
                    "target": "RXRG"
                },
                {
                    "source": "RARG",
                    "target": "RXRG"
                },
                {
                    "source": "RARG",
                    "target": "NCOR1"
                },
                {
                    "source": "RARB",
                    "target": "RXRG"
                },
                {
                    "source": "NR1H2",
                    "target": "RXRG"
                },
                {
                    "source": "RXRG",
                    "target": "PPARA"
                },
                {
                    "source": "RXRG",
                    "target": "PPARD"
                },
                {
                    "source": "PPARA",
                    "target": "NCOR1"
                },
                {
                    "source": "PPARD",
                    "target": "NCOR2"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of RXRG union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_e67f58149e5e4c74a12ba209da0d70a0.setOption(option_e67f58149e5e4c74a12ba209da0d70a0);
    </script>
</body>
</html>
