<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="bd7a1ac400cb426799fbc89eeb7845a5" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_bd7a1ac400cb426799fbc89eeb7845a5 = echarts.init(
            document.getElementById('bd7a1ac400cb426799fbc89eeb7845a5'), 'white', {renderer: 'canvas'});
        var option_bd7a1ac400cb426799fbc89eeb7845a5 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "RNF2",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CBX8",
                    "symbolSize": 35,
                    "itemStyle": {
                        "normal": {
                            "color": "orange"
                        }
                    }
                },
                {
                    "name": "AUTS2",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "CBX4",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "PHC1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "KDM5B",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PHC2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PCGF2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "KDM2B",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "BCOR",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CSNK2B",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PHC3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RYBP",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CBX2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CBX6",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PCGF5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PCGF6",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PCGF3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "BMI1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "RING1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CTBP1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "SUV39H1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "SCML1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PCGF1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CBX7",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "UBE2D3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "L3MBTL2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "AUTS2",
                    "target": "PCGF5"
                },
                {
                    "source": "AUTS2",
                    "target": "RYBP"
                },
                {
                    "source": "AUTS2",
                    "target": "RNF2"
                },
                {
                    "source": "AUTS2",
                    "target": "PCGF6"
                },
                {
                    "source": "AUTS2",
                    "target": "PCGF3"
                },
                {
                    "source": "AUTS2",
                    "target": "CSNK2B"
                },
                {
                    "source": "PCGF5",
                    "target": "RNF2"
                },
                {
                    "source": "PCGF5",
                    "target": "CBX8"
                },
                {
                    "source": "PCGF5",
                    "target": "RING1"
                },
                {
                    "source": "RYBP",
                    "target": "RNF2"
                },
                {
                    "source": "RYBP",
                    "target": "PCGF1"
                },
                {
                    "source": "RYBP",
                    "target": "RING1"
                },
                {
                    "source": "RYBP",
                    "target": "PCGF3"
                },
                {
                    "source": "RNF2",
                    "target": "CBX4"
                },
                {
                    "source": "RNF2",
                    "target": "PHC1"
                },
                {
                    "source": "RNF2",
                    "target": "BMI1"
                },
                {
                    "source": "RNF2",
                    "target": "PCGF1"
                },
                {
                    "source": "RNF2",
                    "target": "PCGF2"
                },
                {
                    "source": "RNF2",
                    "target": "CBX7"
                },
                {
                    "source": "RNF2",
                    "target": "PCGF6"
                },
                {
                    "source": "RNF2",
                    "target": "UBE2D3"
                },
                {
                    "source": "RNF2",
                    "target": "CBX8"
                },
                {
                    "source": "RNF2",
                    "target": "BCOR"
                },
                {
                    "source": "RNF2",
                    "target": "PHC2"
                },
                {
                    "source": "RNF2",
                    "target": "PCGF3"
                },
                {
                    "source": "PCGF6",
                    "target": "CBX7"
                },
                {
                    "source": "PCGF6",
                    "target": "CBX8"
                },
                {
                    "source": "PCGF6",
                    "target": "L3MBTL2"
                },
                {
                    "source": "PCGF6",
                    "target": "RING1"
                },
                {
                    "source": "PCGF3",
                    "target": "CBX8"
                },
                {
                    "source": "CBX4",
                    "target": "BMI1"
                },
                {
                    "source": "CBX4",
                    "target": "RING1"
                },
                {
                    "source": "CBX4",
                    "target": "CTBP1"
                },
                {
                    "source": "CBX4",
                    "target": "PHC1"
                },
                {
                    "source": "CBX4",
                    "target": "PCGF2"
                },
                {
                    "source": "CBX4",
                    "target": "PHC2"
                },
                {
                    "source": "CBX4",
                    "target": "PHC3"
                },
                {
                    "source": "CBX4",
                    "target": "SUV39H1"
                },
                {
                    "source": "CBX4",
                    "target": "KDM5B"
                },
                {
                    "source": "BMI1",
                    "target": "PHC1"
                },
                {
                    "source": "BMI1",
                    "target": "CBX8"
                },
                {
                    "source": "BMI1",
                    "target": "RING1"
                },
                {
                    "source": "BMI1",
                    "target": "PHC2"
                },
                {
                    "source": "RING1",
                    "target": "PHC1"
                },
                {
                    "source": "RING1",
                    "target": "PCGF1"
                },
                {
                    "source": "RING1",
                    "target": "PCGF2"
                },
                {
                    "source": "RING1",
                    "target": "CBX8"
                },
                {
                    "source": "PHC1",
                    "target": "PHC2"
                },
                {
                    "source": "PHC1",
                    "target": "PCGF2"
                },
                {
                    "source": "PHC1",
                    "target": "CBX8"
                },
                {
                    "source": "PHC1",
                    "target": "CBX6"
                },
                {
                    "source": "PHC1",
                    "target": "CBX2"
                },
                {
                    "source": "PHC1",
                    "target": "SCML1"
                },
                {
                    "source": "PCGF2",
                    "target": "CBX8"
                },
                {
                    "source": "PCGF2",
                    "target": "CBX2"
                },
                {
                    "source": "PCGF2",
                    "target": "PHC2"
                },
                {
                    "source": "PHC2",
                    "target": "CBX7"
                },
                {
                    "source": "PHC2",
                    "target": "CBX8"
                },
                {
                    "source": "CBX8",
                    "target": "PCGF1"
                },
                {
                    "source": "PCGF1",
                    "target": "BCOR"
                },
                {
                    "source": "PCGF1",
                    "target": "KDM2B"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of RNF2 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_bd7a1ac400cb426799fbc89eeb7845a5.setOption(option_bd7a1ac400cb426799fbc89eeb7845a5);
    </script>
</body>
</html>
