<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="d105d0d11e7a463391dd9453f691ef04" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_d105d0d11e7a463391dd9453f691ef04 = echarts.init(
            document.getElementById('d105d0d11e7a463391dd9453f691ef04'), 'white', {renderer: 'canvas'});
        var option_d105d0d11e7a463391dd9453f691ef04 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "TERF2",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SLX4",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "BLM",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "ACD",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "TINF2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "BRCA1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPA3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPA1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "WRN",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TOPBP1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TP53",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ERCC1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "XRCC6",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RAD51",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "POT1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TERF1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "FBXW7",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ERCC4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NBN",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MSH2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MRE11",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TERF2IP",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "DCLRE1B",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RAD50",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SLX1A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MLH1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "USP7",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MDC1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "SLX4",
                    "target": "ERCC4"
                },
                {
                    "source": "SLX4",
                    "target": "ERCC1"
                },
                {
                    "source": "SLX4",
                    "target": "TERF2"
                },
                {
                    "source": "SLX4",
                    "target": "SLX1A"
                },
                {
                    "source": "SLX4",
                    "target": "MSH2"
                },
                {
                    "source": "TERF2",
                    "target": "TERF2IP"
                },
                {
                    "source": "TERF2",
                    "target": "TINF2"
                },
                {
                    "source": "TERF2",
                    "target": "DCLRE1B"
                },
                {
                    "source": "TERF2",
                    "target": "POT1"
                },
                {
                    "source": "TERF2",
                    "target": "RAD50"
                },
                {
                    "source": "TERF2",
                    "target": "XRCC6"
                },
                {
                    "source": "TERF2",
                    "target": "WRN"
                },
                {
                    "source": "TERF2",
                    "target": "BLM"
                },
                {
                    "source": "TERF2",
                    "target": "BRCA1"
                },
                {
                    "source": "BLM",
                    "target": "MLH1"
                },
                {
                    "source": "BLM",
                    "target": "TP53"
                },
                {
                    "source": "BLM",
                    "target": "RAD51"
                },
                {
                    "source": "BLM",
                    "target": "RPA1"
                },
                {
                    "source": "BLM",
                    "target": "RPA3"
                },
                {
                    "source": "BLM",
                    "target": "TOPBP1"
                },
                {
                    "source": "RPA1",
                    "target": "WRN"
                },
                {
                    "source": "ACD",
                    "target": "TINF2"
                },
                {
                    "source": "ACD",
                    "target": "POT1"
                },
                {
                    "source": "ACD",
                    "target": "TERF1"
                },
                {
                    "source": "ACD",
                    "target": "TERF2IP"
                },
                {
                    "source": "ACD",
                    "target": "FBXW7"
                },
                {
                    "source": "ACD",
                    "target": "USP7"
                },
                {
                    "source": "TINF2",
                    "target": "TERF2IP"
                },
                {
                    "source": "TINF2",
                    "target": "TERF1"
                },
                {
                    "source": "TINF2",
                    "target": "POT1"
                },
                {
                    "source": "POT1",
                    "target": "TERF2IP"
                },
                {
                    "source": "POT1",
                    "target": "TERF1"
                },
                {
                    "source": "TERF1",
                    "target": "TERF2IP"
                },
                {
                    "source": "TERF2IP",
                    "target": "RAD50"
                },
                {
                    "source": "TERF2IP",
                    "target": "DCLRE1B"
                },
                {
                    "source": "DCLRE1B",
                    "target": "RAD50"
                },
                {
                    "source": "RAD50",
                    "target": "MRE11"
                },
                {
                    "source": "RAD50",
                    "target": "NBN"
                },
                {
                    "source": "RAD50",
                    "target": "BRCA1"
                },
                {
                    "source": "RAD50",
                    "target": "MDC1"
                },
                {
                    "source": "XRCC6",
                    "target": "WRN"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of TERF2 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_d105d0d11e7a463391dd9453f691ef04.setOption(option_d105d0d11e7a463391dd9453f691ef04);
    </script>
</body>
</html>
