<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="7d2ade667f9b46a0974ec44a493d624d" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_7d2ade667f9b46a0974ec44a493d624d = echarts.init(
            document.getElementById('7d2ade667f9b46a0974ec44a493d624d'), 'white', {renderer: 'canvas'});
        var option_7d2ade667f9b46a0974ec44a493d624d = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "PLK1",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "BORA",
                    "symbolSize": 35,
                    "itemStyle": {
                        "normal": {
                            "color": "orange"
                        }
                    }
                },
                {
                    "name": "CDC25B",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "CDC25A",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "YWHAE",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NFKBIA",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "BRCA2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "YWHAZ",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "YWHAG",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "BTRC",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "FBXW11",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "YWHAB",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "YWHAH",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "YWHAQ",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CDK1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CSNK2A1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CHEK1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "SKP1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CUL1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CHEK2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "BUB1B",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "SPAG9",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "FZR1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CTNNB1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "BORA",
                    "target": "PLK1"
                },
                {
                    "source": "BORA",
                    "target": "BTRC"
                },
                {
                    "source": "BORA",
                    "target": "FBXW11"
                },
                {
                    "source": "PLK1",
                    "target": "BRCA2"
                },
                {
                    "source": "PLK1",
                    "target": "BUB1B"
                },
                {
                    "source": "PLK1",
                    "target": "SPAG9"
                },
                {
                    "source": "PLK1",
                    "target": "FZR1"
                },
                {
                    "source": "BTRC",
                    "target": "CDC25B"
                },
                {
                    "source": "BTRC",
                    "target": "CDC25A"
                },
                {
                    "source": "BTRC",
                    "target": "CTNNB1"
                },
                {
                    "source": "BTRC",
                    "target": "SKP1"
                },
                {
                    "source": "BTRC",
                    "target": "NFKBIA"
                },
                {
                    "source": "BTRC",
                    "target": "CUL1"
                },
                {
                    "source": "FBXW11",
                    "target": "CDC25B"
                },
                {
                    "source": "FBXW11",
                    "target": "CDC25A"
                },
                {
                    "source": "FBXW11",
                    "target": "SKP1"
                },
                {
                    "source": "FBXW11",
                    "target": "CUL1"
                },
                {
                    "source": "FBXW11",
                    "target": "NFKBIA"
                },
                {
                    "source": "CDC25B",
                    "target": "YWHAB"
                },
                {
                    "source": "CDC25B",
                    "target": "YWHAZ"
                },
                {
                    "source": "CDC25B",
                    "target": "YWHAH"
                },
                {
                    "source": "CDC25B",
                    "target": "YWHAE"
                },
                {
                    "source": "CDC25B",
                    "target": "YWHAQ"
                },
                {
                    "source": "CDC25B",
                    "target": "CDK1"
                },
                {
                    "source": "CDC25B",
                    "target": "CSNK2A1"
                },
                {
                    "source": "CDC25B",
                    "target": "YWHAG"
                },
                {
                    "source": "YWHAB",
                    "target": "CDC25A"
                },
                {
                    "source": "YWHAH",
                    "target": "CDC25A"
                },
                {
                    "source": "YWHAQ",
                    "target": "CDC25A"
                },
                {
                    "source": "CDC25A",
                    "target": "CHEK1"
                },
                {
                    "source": "CDC25A",
                    "target": "SKP1"
                },
                {
                    "source": "CDC25A",
                    "target": "CUL1"
                },
                {
                    "source": "CDC25A",
                    "target": "CHEK2"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of PLK1 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_7d2ade667f9b46a0974ec44a493d624d.setOption(option_7d2ade667f9b46a0974ec44a493d624d);
    </script>
</body>
</html>
