<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="4caa0089fcbc4dcd8622dcd9c6637d24" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_4caa0089fcbc4dcd8622dcd9c6637d24 = echarts.init(
            document.getElementById('4caa0089fcbc4dcd8622dcd9c6637d24'), 'white', {renderer: 'canvas'});
        var option_4caa0089fcbc4dcd8622dcd9c6637d24 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "VPS4A",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ZFYVE19",
                    "symbolSize": 35,
                    "itemStyle": {
                        "normal": {
                            "color": "orange"
                        }
                    }
                },
                {
                    "name": "CDC20",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "USP8",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "YWHAZ",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "YWHAE",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "EGFR",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "VPS4B",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MITD1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "UBE2C",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CHMP1B",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "BUB1B",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MAD2L1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CDC27",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CCNB1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PTTG1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CCNA2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ANAPC4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ANAPC7",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CDC16",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "BUB1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "RNF41",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "STAM",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "YWHAQ",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "STAM2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "YWHAB",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CHMP1A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "VTA1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CHMP4A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "NPC1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CHMP2A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "IST1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ARL8B",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "ZFYVE19",
                    "target": "VPS4B"
                },
                {
                    "source": "ZFYVE19",
                    "target": "VPS4A"
                },
                {
                    "source": "ZFYVE19",
                    "target": "MITD1"
                },
                {
                    "source": "ZFYVE19",
                    "target": "UBE2C"
                },
                {
                    "source": "ZFYVE19",
                    "target": "CHMP1B"
                },
                {
                    "source": "VPS4B",
                    "target": "VPS4A"
                },
                {
                    "source": "VPS4A",
                    "target": "CHMP1A"
                },
                {
                    "source": "VPS4A",
                    "target": "VTA1"
                },
                {
                    "source": "VPS4A",
                    "target": "CHMP4A"
                },
                {
                    "source": "VPS4A",
                    "target": "NPC1"
                },
                {
                    "source": "VPS4A",
                    "target": "CHMP2A"
                },
                {
                    "source": "VPS4A",
                    "target": "IST1"
                },
                {
                    "source": "VPS4A",
                    "target": "CHMP1B"
                },
                {
                    "source": "VPS4A",
                    "target": "ARL8B"
                },
                {
                    "source": "MITD1",
                    "target": "CHMP1A"
                },
                {
                    "source": "MITD1",
                    "target": "CHMP2A"
                },
                {
                    "source": "UBE2C",
                    "target": "CDC20"
                },
                {
                    "source": "CHMP1B",
                    "target": "CHMP1A"
                },
                {
                    "source": "CHMP1B",
                    "target": "IST1"
                },
                {
                    "source": "CHMP1B",
                    "target": "USP8"
                },
                {
                    "source": "CDC20",
                    "target": "BUB1B"
                },
                {
                    "source": "CDC20",
                    "target": "MAD2L1"
                },
                {
                    "source": "CDC20",
                    "target": "CDC27"
                },
                {
                    "source": "CDC20",
                    "target": "CCNB1"
                },
                {
                    "source": "CDC20",
                    "target": "PTTG1"
                },
                {
                    "source": "CDC20",
                    "target": "CCNA2"
                },
                {
                    "source": "CDC20",
                    "target": "ANAPC4"
                },
                {
                    "source": "CDC20",
                    "target": "ANAPC7"
                },
                {
                    "source": "CDC20",
                    "target": "CDC16"
                },
                {
                    "source": "CDC20",
                    "target": "BUB1"
                },
                {
                    "source": "USP8",
                    "target": "RNF41"
                },
                {
                    "source": "USP8",
                    "target": "EGFR"
                },
                {
                    "source": "USP8",
                    "target": "YWHAE"
                },
                {
                    "source": "USP8",
                    "target": "YWHAZ"
                },
                {
                    "source": "USP8",
                    "target": "STAM"
                },
                {
                    "source": "USP8",
                    "target": "YWHAQ"
                },
                {
                    "source": "USP8",
                    "target": "STAM2"
                },
                {
                    "source": "USP8",
                    "target": "YWHAB"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of VPS4A union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_4caa0089fcbc4dcd8622dcd9c6637d24.setOption(option_4caa0089fcbc4dcd8622dcd9c6637d24);
    </script>
</body>
</html>
