<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="b2d9e1313511443aa09c110de6f05d80" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_b2d9e1313511443aa09c110de6f05d80 = echarts.init(
            document.getElementById('b2d9e1313511443aa09c110de6f05d80'), 'white', {renderer: 'canvas'});
        var option_b2d9e1313511443aa09c110de6f05d80 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "RB1CC1",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ULK1",
                    "symbolSize": 35,
                    "itemStyle": {
                        "normal": {
                            "color": "orange"
                        }
                    }
                },
                {
                    "name": "SQSTM1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "ATG13",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "MTOR",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TRAF6",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPTOR",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "BECN1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "GABARAP",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ATG14",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "GABARAPL2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ATG101",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PRKAA1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MAP1LC3A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MAP1LC3B",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PRKCI",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PRKCZ",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MAP1LC3C",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "C9orf72",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ATG16L1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TBK1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PTK2B",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PIK3C3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "UVRAG",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "RUBCN",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ATG4B",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TBC1D25",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PIK3R4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "NRBF2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "UBA5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PRKAG1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PRKAB1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PRKAB2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PRKAG2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "RPS6KB1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "ULK1",
                    "target": "ATG13"
                },
                {
                    "source": "ULK1",
                    "target": "BECN1"
                },
                {
                    "source": "ULK1",
                    "target": "RB1CC1"
                },
                {
                    "source": "ULK1",
                    "target": "SQSTM1"
                },
                {
                    "source": "ULK1",
                    "target": "GABARAP"
                },
                {
                    "source": "ULK1",
                    "target": "ATG14"
                },
                {
                    "source": "ULK1",
                    "target": "GABARAPL2"
                },
                {
                    "source": "ULK1",
                    "target": "ATG101"
                },
                {
                    "source": "ULK1",
                    "target": "PRKAA1"
                },
                {
                    "source": "ULK1",
                    "target": "RPTOR"
                },
                {
                    "source": "ATG13",
                    "target": "ATG101"
                },
                {
                    "source": "ATG13",
                    "target": "MAP1LC3A"
                },
                {
                    "source": "ATG13",
                    "target": "RB1CC1"
                },
                {
                    "source": "ATG13",
                    "target": "MAP1LC3C"
                },
                {
                    "source": "ATG13",
                    "target": "GABARAP"
                },
                {
                    "source": "ATG13",
                    "target": "MAP1LC3B"
                },
                {
                    "source": "ATG13",
                    "target": "C9orf72"
                },
                {
                    "source": "ATG13",
                    "target": "GABARAPL2"
                },
                {
                    "source": "ATG13",
                    "target": "ATG16L1"
                },
                {
                    "source": "BECN1",
                    "target": "PIK3C3"
                },
                {
                    "source": "BECN1",
                    "target": "ATG14"
                },
                {
                    "source": "BECN1",
                    "target": "UVRAG"
                },
                {
                    "source": "BECN1",
                    "target": "RUBCN"
                },
                {
                    "source": "RB1CC1",
                    "target": "ATG16L1"
                },
                {
                    "source": "RB1CC1",
                    "target": "ATG101"
                },
                {
                    "source": "RB1CC1",
                    "target": "SQSTM1"
                },
                {
                    "source": "RB1CC1",
                    "target": "TBK1"
                },
                {
                    "source": "RB1CC1",
                    "target": "PTK2B"
                },
                {
                    "source": "SQSTM1",
                    "target": "MAP1LC3A"
                },
                {
                    "source": "SQSTM1",
                    "target": "MAP1LC3B"
                },
                {
                    "source": "SQSTM1",
                    "target": "PRKCI"
                },
                {
                    "source": "SQSTM1",
                    "target": "PRKCZ"
                },
                {
                    "source": "SQSTM1",
                    "target": "TRAF6"
                },
                {
                    "source": "SQSTM1",
                    "target": "GABARAPL2"
                },
                {
                    "source": "SQSTM1",
                    "target": "GABARAP"
                },
                {
                    "source": "GABARAP",
                    "target": "ATG4B"
                },
                {
                    "source": "GABARAP",
                    "target": "TBC1D25"
                },
                {
                    "source": "ATG14",
                    "target": "ATG101"
                },
                {
                    "source": "ATG14",
                    "target": "PIK3C3"
                },
                {
                    "source": "ATG14",
                    "target": "PIK3R4"
                },
                {
                    "source": "ATG14",
                    "target": "NRBF2"
                },
                {
                    "source": "GABARAPL2",
                    "target": "ATG4B"
                },
                {
                    "source": "GABARAPL2",
                    "target": "UBA5"
                },
                {
                    "source": "PRKAA1",
                    "target": "PRKAG1"
                },
                {
                    "source": "PRKAA1",
                    "target": "PRKAB1"
                },
                {
                    "source": "PRKAA1",
                    "target": "PRKAB2"
                },
                {
                    "source": "PRKAA1",
                    "target": "PRKAG2"
                },
                {
                    "source": "RPTOR",
                    "target": "MTOR"
                },
                {
                    "source": "RPTOR",
                    "target": "RPS6KB1"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of RB1CC1 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_b2d9e1313511443aa09c110de6f05d80.setOption(option_b2d9e1313511443aa09c110de6f05d80);
    </script>
</body>
</html>
