<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="d7bacc1a171e49d69bb5089687a67bbe" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_d7bacc1a171e49d69bb5089687a67bbe = echarts.init(
            document.getElementById('d7bacc1a171e49d69bb5089687a67bbe'), 'white', {renderer: 'canvas'});
        var option_d7bacc1a171e49d69bb5089687a67bbe = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "PRPF8",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CD2BP2",
                    "symbolSize": 35,
                    "itemStyle": {
                        "normal": {
                            "color": "orange"
                        }
                    }
                },
                {
                    "name": "SNRPB",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "MEPCE",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "SART1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "CDC5L",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SF3A2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SNRPA1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SNRNP200",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PRPF6",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CLNS1A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PRPF4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SNRPN",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SNRPE",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "DDX23",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HNRNPA1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "LARP7",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SNRPD3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "EFTUD2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PRPF3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PRPF31",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SNRNP40",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SNRPC",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SART3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SNRPF",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RBM25",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TFIP11",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "UBL5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "AAR2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ECD",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PRPF19",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "USP39",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "SNRPB",
                    "target": "CD2BP2"
                },
                {
                    "source": "SNRPB",
                    "target": "SNRPD3"
                },
                {
                    "source": "SNRPB",
                    "target": "CLNS1A"
                },
                {
                    "source": "SNRPB",
                    "target": "MEPCE"
                },
                {
                    "source": "SNRPB",
                    "target": "TFIP11"
                },
                {
                    "source": "SNRPB",
                    "target": "PRPF8"
                },
                {
                    "source": "SNRPB",
                    "target": "SF3A2"
                },
                {
                    "source": "SNRPB",
                    "target": "SNRNP200"
                },
                {
                    "source": "SNRPB",
                    "target": "SNRPC"
                },
                {
                    "source": "SNRPB",
                    "target": "SNRPA1"
                },
                {
                    "source": "CD2BP2",
                    "target": "SART1"
                },
                {
                    "source": "CD2BP2",
                    "target": "PRPF8"
                },
                {
                    "source": "CD2BP2",
                    "target": "EFTUD2"
                },
                {
                    "source": "CD2BP2",
                    "target": "SNRNP40"
                },
                {
                    "source": "CD2BP2",
                    "target": "SNRNP200"
                },
                {
                    "source": "CD2BP2",
                    "target": "PRPF6"
                },
                {
                    "source": "CD2BP2",
                    "target": "DDX23"
                },
                {
                    "source": "CD2BP2",
                    "target": "USP39"
                },
                {
                    "source": "MEPCE",
                    "target": "LARP7"
                },
                {
                    "source": "MEPCE",
                    "target": "HNRNPA1"
                },
                {
                    "source": "MEPCE",
                    "target": "SART3"
                },
                {
                    "source": "MEPCE",
                    "target": "PRPF3"
                },
                {
                    "source": "MEPCE",
                    "target": "SNRPF"
                },
                {
                    "source": "MEPCE",
                    "target": "SNRPN"
                },
                {
                    "source": "MEPCE",
                    "target": "PRPF31"
                },
                {
                    "source": "PRPF8",
                    "target": "SART1"
                },
                {
                    "source": "PRPF8",
                    "target": "EFTUD2"
                },
                {
                    "source": "PRPF8",
                    "target": "SNRNP40"
                },
                {
                    "source": "PRPF8",
                    "target": "SNRNP200"
                },
                {
                    "source": "PRPF8",
                    "target": "AAR2"
                },
                {
                    "source": "PRPF8",
                    "target": "PRPF6"
                },
                {
                    "source": "PRPF8",
                    "target": "ECD"
                },
                {
                    "source": "PRPF8",
                    "target": "PRPF19"
                },
                {
                    "source": "PRPF8",
                    "target": "CDC5L"
                },
                {
                    "source": "PRPF8",
                    "target": "DDX23"
                },
                {
                    "source": "SNRNP200",
                    "target": "SART1"
                },
                {
                    "source": "SNRNP200",
                    "target": "EFTUD2"
                },
                {
                    "source": "SNRNP200",
                    "target": "SNRNP40"
                },
                {
                    "source": "SNRNP200",
                    "target": "PRPF6"
                },
                {
                    "source": "SNRNP200",
                    "target": "AAR2"
                },
                {
                    "source": "PRPF3",
                    "target": "SART1"
                },
                {
                    "source": "PRPF31",
                    "target": "PRPF6"
                },
                {
                    "source": "SART1",
                    "target": "UBL5"
                },
                {
                    "source": "SART1",
                    "target": "DDX23"
                },
                {
                    "source": "SART1",
                    "target": "PRPF6"
                },
                {
                    "source": "SART1",
                    "target": "PRPF4"
                },
                {
                    "source": "SART1",
                    "target": "RBM25"
                },
                {
                    "source": "SART1",
                    "target": "SNRPE"
                },
                {
                    "source": "DDX23",
                    "target": "EFTUD2"
                },
                {
                    "source": "DDX23",
                    "target": "PRPF6"
                },
                {
                    "source": "PRPF6",
                    "target": "EFTUD2"
                },
                {
                    "source": "PRPF4",
                    "target": "USP39"
                },
                {
                    "source": "EFTUD2",
                    "target": "SNRNP40"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of PRPF8 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_d7bacc1a171e49d69bb5089687a67bbe.setOption(option_d7bacc1a171e49d69bb5089687a67bbe);
    </script>
</body>
</html>
