<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="0b022d3f2e0a457592e9af525cf758b1" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_0b022d3f2e0a457592e9af525cf758b1 = echarts.init(
            document.getElementById('0b022d3f2e0a457592e9af525cf758b1'), 'white', {renderer: 'canvas'});
        var option_0b022d3f2e0a457592e9af525cf758b1 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "MBTD1",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "BRD8",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "PHF12",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "MYC",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "BRCA1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MAX",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "GATAD1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "KDM5A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HDAC2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RUVBL2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "EP400",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HDAC1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "EP300",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SIN3A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RBBP7",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MORF4L1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "KAT5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MRGBP",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MORF4L2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "DMAP1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "YEATS4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ING3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "SIN3B",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "EMSY",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TRRAP",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "KAT2A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ACTL6A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "SKP2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "EPC1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "RUVBL1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "BRD8",
                    "target": "MORF4L1"
                },
                {
                    "source": "BRD8",
                    "target": "KAT5"
                },
                {
                    "source": "BRD8",
                    "target": "MRGBP"
                },
                {
                    "source": "BRD8",
                    "target": "MORF4L2"
                },
                {
                    "source": "BRD8",
                    "target": "DMAP1"
                },
                {
                    "source": "BRD8",
                    "target": "YEATS4"
                },
                {
                    "source": "BRD8",
                    "target": "ING3"
                },
                {
                    "source": "BRD8",
                    "target": "RUVBL2"
                },
                {
                    "source": "BRD8",
                    "target": "MBTD1"
                },
                {
                    "source": "MORF4L1",
                    "target": "PHF12"
                },
                {
                    "source": "MORF4L1",
                    "target": "MBTD1"
                },
                {
                    "source": "MORF4L1",
                    "target": "MRGBP"
                },
                {
                    "source": "MORF4L1",
                    "target": "DMAP1"
                },
                {
                    "source": "MORF4L1",
                    "target": "EPC1"
                },
                {
                    "source": "KAT5",
                    "target": "MBTD1"
                },
                {
                    "source": "KAT5",
                    "target": "EP400"
                },
                {
                    "source": "KAT5",
                    "target": "TRRAP"
                },
                {
                    "source": "KAT5",
                    "target": "ING3"
                },
                {
                    "source": "KAT5",
                    "target": "EPC1"
                },
                {
                    "source": "KAT5",
                    "target": "YEATS4"
                },
                {
                    "source": "KAT5",
                    "target": "MRGBP"
                },
                {
                    "source": "KAT5",
                    "target": "DMAP1"
                },
                {
                    "source": "MRGBP",
                    "target": "MBTD1"
                },
                {
                    "source": "MRGBP",
                    "target": "MORF4L2"
                },
                {
                    "source": "MRGBP",
                    "target": "DMAP1"
                },
                {
                    "source": "MRGBP",
                    "target": "EPC1"
                },
                {
                    "source": "MORF4L2",
                    "target": "PHF12"
                },
                {
                    "source": "MORF4L2",
                    "target": "MBTD1"
                },
                {
                    "source": "DMAP1",
                    "target": "MBTD1"
                },
                {
                    "source": "DMAP1",
                    "target": "YEATS4"
                },
                {
                    "source": "DMAP1",
                    "target": "RUVBL1"
                },
                {
                    "source": "DMAP1",
                    "target": "ING3"
                },
                {
                    "source": "DMAP1",
                    "target": "RUVBL2"
                },
                {
                    "source": "DMAP1",
                    "target": "EPC1"
                },
                {
                    "source": "YEATS4",
                    "target": "MBTD1"
                },
                {
                    "source": "YEATS4",
                    "target": "EP400"
                },
                {
                    "source": "YEATS4",
                    "target": "MYC"
                },
                {
                    "source": "YEATS4",
                    "target": "EPC1"
                },
                {
                    "source": "PHF12",
                    "target": "RBBP7"
                },
                {
                    "source": "PHF12",
                    "target": "HDAC1"
                },
                {
                    "source": "PHF12",
                    "target": "GATAD1"
                },
                {
                    "source": "PHF12",
                    "target": "SIN3A"
                },
                {
                    "source": "PHF12",
                    "target": "SIN3B"
                },
                {
                    "source": "PHF12",
                    "target": "HDAC2"
                },
                {
                    "source": "PHF12",
                    "target": "EMSY"
                },
                {
                    "source": "PHF12",
                    "target": "KDM5A"
                },
                {
                    "source": "MYC",
                    "target": "MAX"
                },
                {
                    "source": "MYC",
                    "target": "TRRAP"
                },
                {
                    "source": "MYC",
                    "target": "BRCA1"
                },
                {
                    "source": "MYC",
                    "target": "EP400"
                },
                {
                    "source": "MYC",
                    "target": "EP300"
                },
                {
                    "source": "MYC",
                    "target": "KAT2A"
                },
                {
                    "source": "MYC",
                    "target": "ACTL6A"
                },
                {
                    "source": "MYC",
                    "target": "SKP2"
                },
                {
                    "source": "MBTD1",
                    "target": "EPC1"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of MBTD1 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_0b022d3f2e0a457592e9af525cf758b1.setOption(option_0b022d3f2e0a457592e9af525cf758b1);
    </script>
</body>
</html>
