<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="ff1aa1b102954f0d8fb233a943929e33" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_ff1aa1b102954f0d8fb233a943929e33 = echarts.init(
            document.getElementById('ff1aa1b102954f0d8fb233a943929e33'), 'white', {renderer: 'canvas'});
        var option_ff1aa1b102954f0d8fb233a943929e33 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "JADE2",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ING3",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "JADE1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "BRPF1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TP53",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "KAT6A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RELA",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "KAT5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "DMAP1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MORF4L1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "RUVBL1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MEAF6",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "EPC1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "YEATS4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "BRD8",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TRRAP",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "KAT7",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ING4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ING5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "VHL",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "AKT1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PLK1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "ING3",
                    "target": "KAT5"
                },
                {
                    "source": "ING3",
                    "target": "DMAP1"
                },
                {
                    "source": "ING3",
                    "target": "MORF4L1"
                },
                {
                    "source": "ING3",
                    "target": "RUVBL1"
                },
                {
                    "source": "ING3",
                    "target": "MEAF6"
                },
                {
                    "source": "ING3",
                    "target": "EPC1"
                },
                {
                    "source": "ING3",
                    "target": "YEATS4"
                },
                {
                    "source": "ING3",
                    "target": "BRD8"
                },
                {
                    "source": "ING3",
                    "target": "JADE2"
                },
                {
                    "source": "ING3",
                    "target": "TRRAP"
                },
                {
                    "source": "KAT5",
                    "target": "MEAF6"
                },
                {
                    "source": "MEAF6",
                    "target": "JADE1"
                },
                {
                    "source": "MEAF6",
                    "target": "JADE2"
                },
                {
                    "source": "MEAF6",
                    "target": "ING5"
                },
                {
                    "source": "MEAF6",
                    "target": "KAT7"
                },
                {
                    "source": "JADE2",
                    "target": "ING4"
                },
                {
                    "source": "JADE2",
                    "target": "ING5"
                },
                {
                    "source": "JADE2",
                    "target": "KAT7"
                },
                {
                    "source": "JADE1",
                    "target": "KAT7"
                },
                {
                    "source": "JADE1",
                    "target": "ING4"
                },
                {
                    "source": "JADE1",
                    "target": "ING5"
                },
                {
                    "source": "JADE1",
                    "target": "VHL"
                },
                {
                    "source": "JADE1",
                    "target": "AKT1"
                },
                {
                    "source": "JADE1",
                    "target": "PLK1"
                },
                {
                    "source": "KAT7",
                    "target": "ING4"
                },
                {
                    "source": "KAT7",
                    "target": "ING5"
                },
                {
                    "source": "ING4",
                    "target": "TP53"
                },
                {
                    "source": "ING4",
                    "target": "RELA"
                },
                {
                    "source": "ING5",
                    "target": "BRPF1"
                },
                {
                    "source": "ING5",
                    "target": "KAT6A"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of JADE2 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_ff1aa1b102954f0d8fb233a943929e33.setOption(option_ff1aa1b102954f0d8fb233a943929e33);
    </script>
</body>
</html>
