<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="0c27820cca61428db1333d2bd7ba1737" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_0c27820cca61428db1333d2bd7ba1737 = echarts.init(
            document.getElementById('0c27820cca61428db1333d2bd7ba1737'), 'white', {renderer: 'canvas'});
        var option_0c27820cca61428db1333d2bd7ba1737 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "KAT8",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "KANSL1",
                    "symbolSize": 35,
                    "itemStyle": {
                        "normal": {
                            "color": "orange"
                        }
                    }
                },
                {
                    "name": "BCL11A",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "GPBP1L1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "SETD1A",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "HDAC1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CXXC1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "FOXK2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RBBP7",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NR2F1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CHD4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NR2E3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "BCL6",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MCRS1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RBBP4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TP53",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SIRT1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PHF20",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NR2F2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MSL3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MTA1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CNOT2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CNOT6L",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PIP4K2B",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "KANSL2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "RBBP5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "WDR5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ASH2L",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "HCFC1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "DPY30",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "HCFC2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PRMT2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MSL1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MSL2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PHF20L1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CCDC85B",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "BCL11A",
                    "target": "MTA1"
                },
                {
                    "source": "BCL11A",
                    "target": "HDAC1"
                },
                {
                    "source": "BCL11A",
                    "target": "RBBP4"
                },
                {
                    "source": "BCL11A",
                    "target": "RBBP7"
                },
                {
                    "source": "BCL11A",
                    "target": "CHD4"
                },
                {
                    "source": "BCL11A",
                    "target": "NR2F1"
                },
                {
                    "source": "BCL11A",
                    "target": "NR2E3"
                },
                {
                    "source": "BCL11A",
                    "target": "NR2F2"
                },
                {
                    "source": "BCL11A",
                    "target": "BCL6"
                },
                {
                    "source": "BCL11A",
                    "target": "PHF20L1"
                },
                {
                    "source": "CHD4",
                    "target": "PHF20L1"
                },
                {
                    "source": "GPBP1L1",
                    "target": "CNOT2"
                },
                {
                    "source": "GPBP1L1",
                    "target": "CNOT6L"
                },
                {
                    "source": "GPBP1L1",
                    "target": "PIP4K2B"
                },
                {
                    "source": "GPBP1L1",
                    "target": "KANSL2"
                },
                {
                    "source": "KANSL2",
                    "target": "KANSL1"
                },
                {
                    "source": "KANSL2",
                    "target": "WDR5"
                },
                {
                    "source": "KANSL2",
                    "target": "PHF20"
                },
                {
                    "source": "SETD1A",
                    "target": "RBBP5"
                },
                {
                    "source": "SETD1A",
                    "target": "CXXC1"
                },
                {
                    "source": "SETD1A",
                    "target": "WDR5"
                },
                {
                    "source": "SETD1A",
                    "target": "ASH2L"
                },
                {
                    "source": "SETD1A",
                    "target": "HCFC1"
                },
                {
                    "source": "SETD1A",
                    "target": "TP53"
                },
                {
                    "source": "SETD1A",
                    "target": "DPY30"
                },
                {
                    "source": "SETD1A",
                    "target": "HCFC2"
                },
                {
                    "source": "SETD1A",
                    "target": "PRMT2"
                },
                {
                    "source": "RBBP5",
                    "target": "WDR5"
                },
                {
                    "source": "WDR5",
                    "target": "KAT8"
                },
                {
                    "source": "WDR5",
                    "target": "KANSL1"
                },
                {
                    "source": "WDR5",
                    "target": "ASH2L"
                },
                {
                    "source": "HCFC1",
                    "target": "KAT8"
                },
                {
                    "source": "TP53",
                    "target": "KAT8"
                },
                {
                    "source": "KAT8",
                    "target": "MSL1"
                },
                {
                    "source": "KAT8",
                    "target": "MSL2"
                },
                {
                    "source": "KAT8",
                    "target": "MSL3"
                },
                {
                    "source": "KAT8",
                    "target": "KANSL1"
                },
                {
                    "source": "KAT8",
                    "target": "SIRT1"
                },
                {
                    "source": "KAT8",
                    "target": "PHF20"
                },
                {
                    "source": "KAT8",
                    "target": "PHF20L1"
                },
                {
                    "source": "KANSL1",
                    "target": "PHF20L1"
                },
                {
                    "source": "KANSL1",
                    "target": "PHF20"
                },
                {
                    "source": "KANSL1",
                    "target": "MCRS1"
                },
                {
                    "source": "KANSL1",
                    "target": "FOXK2"
                },
                {
                    "source": "KANSL1",
                    "target": "CCDC85B"
                },
                {
                    "source": "PHF20",
                    "target": "MCRS1"
                },
                {
                    "source": "MCRS1",
                    "target": "CCDC85B"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of KAT8 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_0c27820cca61428db1333d2bd7ba1737.setOption(option_0c27820cca61428db1333d2bd7ba1737);
    </script>
</body>
</html>
