<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="5760ba783b5e4f628dacec6a4d4622f5" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_5760ba783b5e4f628dacec6a4d4622f5 = echarts.init(
            document.getElementById('5760ba783b5e4f628dacec6a4d4622f5'), 'white', {renderer: 'canvas'});
        var option_5760ba783b5e4f628dacec6a4d4622f5 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "NOTCH1",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ZMIZ1",
                    "symbolSize": 35,
                    "itemStyle": {
                        "normal": {
                            "color": "orange"
                        }
                    }
                },
                {
                    "name": "MAML1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "NANOG",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "BCLAF1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "RACK1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RBPJ",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "THRAP3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SMAD3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SPEN",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MED12",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "KLF5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SNW1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "EGFR",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MDM2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "FBXW7",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TARBP2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SALL4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TP53",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SIRT1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SMAD4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "AR",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ZNF281",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NFIA",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SRPK2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CREBBP",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SKI",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "EP300",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HDAC9",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "NOTCH3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MAML2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "USP21",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "BRAF",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "USP9X",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PCGF1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "EMD",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PRMT8",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CLK2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "DTX1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "KRAS",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MDM4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "NOTCH2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "SMURF2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "USP22",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TULP3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "MAML1",
                    "target": "NOTCH1"
                },
                {
                    "source": "MAML1",
                    "target": "RBPJ"
                },
                {
                    "source": "MAML1",
                    "target": "EP300"
                },
                {
                    "source": "MAML1",
                    "target": "HDAC9"
                },
                {
                    "source": "MAML1",
                    "target": "TP53"
                },
                {
                    "source": "MAML1",
                    "target": "NOTCH3"
                },
                {
                    "source": "MAML1",
                    "target": "MAML2"
                },
                {
                    "source": "MAML1",
                    "target": "NFIA"
                },
                {
                    "source": "MAML1",
                    "target": "KLF5"
                },
                {
                    "source": "MAML1",
                    "target": "TARBP2"
                },
                {
                    "source": "NOTCH1",
                    "target": "RBPJ"
                },
                {
                    "source": "NOTCH1",
                    "target": "FBXW7"
                },
                {
                    "source": "NOTCH1",
                    "target": "EP300"
                },
                {
                    "source": "NOTCH1",
                    "target": "SNW1"
                },
                {
                    "source": "NOTCH1",
                    "target": "ZMIZ1"
                },
                {
                    "source": "NOTCH1",
                    "target": "DTX1"
                },
                {
                    "source": "NOTCH1",
                    "target": "MDM2"
                },
                {
                    "source": "NOTCH1",
                    "target": "KRAS"
                },
                {
                    "source": "RBPJ",
                    "target": "ZMIZ1"
                },
                {
                    "source": "RBPJ",
                    "target": "SPEN"
                },
                {
                    "source": "RBPJ",
                    "target": "NOTCH2"
                },
                {
                    "source": "RBPJ",
                    "target": "NOTCH3"
                },
                {
                    "source": "EP300",
                    "target": "TP53"
                },
                {
                    "source": "EP300",
                    "target": "SMAD3"
                },
                {
                    "source": "TP53",
                    "target": "ZMIZ1"
                },
                {
                    "source": "TP53",
                    "target": "MDM2"
                },
                {
                    "source": "TP53",
                    "target": "MDM4"
                },
                {
                    "source": "TP53",
                    "target": "CREBBP"
                },
                {
                    "source": "TP53",
                    "target": "SIRT1"
                },
                {
                    "source": "NANOG",
                    "target": "USP21"
                },
                {
                    "source": "NANOG",
                    "target": "RACK1"
                },
                {
                    "source": "NANOG",
                    "target": "MED12"
                },
                {
                    "source": "NANOG",
                    "target": "BRAF"
                },
                {
                    "source": "NANOG",
                    "target": "SALL4"
                },
                {
                    "source": "NANOG",
                    "target": "ZNF281"
                },
                {
                    "source": "NANOG",
                    "target": "USP9X"
                },
                {
                    "source": "NANOG",
                    "target": "PCGF1"
                },
                {
                    "source": "NANOG",
                    "target": "ZMIZ1"
                },
                {
                    "source": "BCLAF1",
                    "target": "EMD"
                },
                {
                    "source": "BCLAF1",
                    "target": "EGFR"
                },
                {
                    "source": "BCLAF1",
                    "target": "PRMT8"
                },
                {
                    "source": "BCLAF1",
                    "target": "THRAP3"
                },
                {
                    "source": "BCLAF1",
                    "target": "CLK2"
                },
                {
                    "source": "BCLAF1",
                    "target": "SRPK2"
                },
                {
                    "source": "BCLAF1",
                    "target": "ZMIZ1"
                },
                {
                    "source": "ZMIZ1",
                    "target": "SMAD3"
                },
                {
                    "source": "ZMIZ1",
                    "target": "SMAD4"
                },
                {
                    "source": "ZMIZ1",
                    "target": "AR"
                },
                {
                    "source": "ZMIZ1",
                    "target": "SIRT1"
                },
                {
                    "source": "MDM2",
                    "target": "AR"
                },
                {
                    "source": "SMAD3",
                    "target": "SMAD4"
                },
                {
                    "source": "SMAD3",
                    "target": "SKI"
                },
                {
                    "source": "SMAD3",
                    "target": "SMURF2"
                },
                {
                    "source": "SMAD3",
                    "target": "CREBBP"
                },
                {
                    "source": "SMAD4",
                    "target": "SKI"
                },
                {
                    "source": "SIRT1",
                    "target": "USP22"
                },
                {
                    "source": "SIRT1",
                    "target": "TULP3"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of NOTCH1 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_5760ba783b5e4f628dacec6a4d4622f5.setOption(option_5760ba783b5e4f628dacec6a4d4622f5);
    </script>
</body>
</html>
