<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="97cc4c8ccd3f4c0795737340e5a24b26" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_97cc4c8ccd3f4c0795737340e5a24b26 = echarts.init(
            document.getElementById('97cc4c8ccd3f4c0795737340e5a24b26'), 'white', {renderer: 'canvas'});
        var option_97cc4c8ccd3f4c0795737340e5a24b26 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "SREK1",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TRA2B",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "TIA1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "SRSF8",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "SRSF2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PNN",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SRSF3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ZC3H18",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SRSF1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RBMX",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NIFK",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SRPK2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ZRANB2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "LUC7L2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CLK3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SNIP1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SRSF7",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SNRNP70",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SRSF10",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "JMJD6",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TRA2A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RNPS1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RAVER1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "U2AF2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MAPT",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "EIF4A3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SRSF11",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "TRA2B",
                    "target": "RBMX"
                },
                {
                    "source": "TRA2B",
                    "target": "RNPS1"
                },
                {
                    "source": "TRA2B",
                    "target": "SRSF7"
                },
                {
                    "source": "TRA2B",
                    "target": "SNIP1"
                },
                {
                    "source": "TRA2B",
                    "target": "SRSF3"
                },
                {
                    "source": "TRA2B",
                    "target": "SRSF1"
                },
                {
                    "source": "TRA2B",
                    "target": "TRA2A"
                },
                {
                    "source": "TRA2B",
                    "target": "U2AF2"
                },
                {
                    "source": "TRA2B",
                    "target": "CLK3"
                },
                {
                    "source": "RNPS1",
                    "target": "PNN"
                },
                {
                    "source": "RNPS1",
                    "target": "SRSF11"
                },
                {
                    "source": "SRSF7",
                    "target": "SREK1"
                },
                {
                    "source": "SRSF7",
                    "target": "SRPK2"
                },
                {
                    "source": "SNIP1",
                    "target": "SRSF8"
                },
                {
                    "source": "SNIP1",
                    "target": "PNN"
                },
                {
                    "source": "SRSF3",
                    "target": "TIA1"
                },
                {
                    "source": "SRSF3",
                    "target": "SREK1"
                },
                {
                    "source": "SRSF3",
                    "target": "SRPK2"
                },
                {
                    "source": "SRSF3",
                    "target": "U2AF2"
                },
                {
                    "source": "SRSF3",
                    "target": "EIF4A3"
                },
                {
                    "source": "SRSF1",
                    "target": "SRSF2"
                },
                {
                    "source": "TRA2A",
                    "target": "SRSF8"
                },
                {
                    "source": "TRA2A",
                    "target": "SRSF10"
                },
                {
                    "source": "U2AF2",
                    "target": "SRSF10"
                },
                {
                    "source": "CLK3",
                    "target": "SRSF8"
                },
                {
                    "source": "CLK3",
                    "target": "SRSF10"
                },
                {
                    "source": "TIA1",
                    "target": "MAPT"
                },
                {
                    "source": "TIA1",
                    "target": "RAVER1"
                },
                {
                    "source": "SRSF8",
                    "target": "SRPK2"
                },
                {
                    "source": "SRSF8",
                    "target": "LUC7L2"
                },
                {
                    "source": "SRSF8",
                    "target": "SREK1"
                },
                {
                    "source": "SRSF8",
                    "target": "ZC3H18"
                },
                {
                    "source": "SRSF8",
                    "target": "SNRNP70"
                },
                {
                    "source": "SRPK2",
                    "target": "SRSF11"
                },
                {
                    "source": "SRPK2",
                    "target": "SRSF2"
                },
                {
                    "source": "LUC7L2",
                    "target": "ZRANB2"
                },
                {
                    "source": "SREK1",
                    "target": "PNN"
                },
                {
                    "source": "SREK1",
                    "target": "ZRANB2"
                },
                {
                    "source": "SREK1",
                    "target": "SRSF10"
                },
                {
                    "source": "SREK1",
                    "target": "SRSF11"
                },
                {
                    "source": "SREK1",
                    "target": "JMJD6"
                },
                {
                    "source": "SREK1",
                    "target": "NIFK"
                },
                {
                    "source": "SREK1",
                    "target": "SRSF2"
                },
                {
                    "source": "SRSF11",
                    "target": "JMJD6"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of SREK1 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_97cc4c8ccd3f4c0795737340e5a24b26.setOption(option_97cc4c8ccd3f4c0795737340e5a24b26);
    </script>
</body>
</html>
