<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="69c071b9a24f4c60878eb4c9065c7448" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_69c071b9a24f4c60878eb4c9065c7448 = echarts.init(
            document.getElementById('69c071b9a24f4c60878eb4c9065c7448'), 'white', {renderer: 'canvas'});
        var option_69c071b9a24f4c60878eb4c9065c7448 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "RMI1",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "BLM",
                    "symbolSize": 35,
                    "itemStyle": {
                        "normal": {
                            "color": "orange"
                        }
                    }
                },
                {
                    "name": "RFWD3",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "PALB2",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "ATRX",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TOP3A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CENPS",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RAD51C",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "FANCM",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CENPX",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RMI2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "BRCA1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TP53",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RAD51",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPA1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "EP300",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPA3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "BRCA2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPA2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MLH1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MORF4L1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "BLM",
                    "target": "TOP3A"
                },
                {
                    "source": "BLM",
                    "target": "MLH1"
                },
                {
                    "source": "BLM",
                    "target": "TP53"
                },
                {
                    "source": "BLM",
                    "target": "RAD51"
                },
                {
                    "source": "BLM",
                    "target": "RPA1"
                },
                {
                    "source": "BLM",
                    "target": "FANCM"
                },
                {
                    "source": "BLM",
                    "target": "RPA3"
                },
                {
                    "source": "BLM",
                    "target": "CENPS"
                },
                {
                    "source": "BLM",
                    "target": "RMI1"
                },
                {
                    "source": "TOP3A",
                    "target": "RMI1"
                },
                {
                    "source": "TOP3A",
                    "target": "RMI2"
                },
                {
                    "source": "TOP3A",
                    "target": "FANCM"
                },
                {
                    "source": "TP53",
                    "target": "EP300"
                },
                {
                    "source": "TP53",
                    "target": "RAD51"
                },
                {
                    "source": "RAD51",
                    "target": "RFWD3"
                },
                {
                    "source": "RAD51",
                    "target": "PALB2"
                },
                {
                    "source": "RAD51",
                    "target": "BRCA2"
                },
                {
                    "source": "RAD51",
                    "target": "ATRX"
                },
                {
                    "source": "RAD51",
                    "target": "BRCA1"
                },
                {
                    "source": "RPA1",
                    "target": "RFWD3"
                },
                {
                    "source": "RPA1",
                    "target": "RMI1"
                },
                {
                    "source": "RPA1",
                    "target": "RPA2"
                },
                {
                    "source": "RPA1",
                    "target": "RPA3"
                },
                {
                    "source": "FANCM",
                    "target": "RMI1"
                },
                {
                    "source": "FANCM",
                    "target": "CENPS"
                },
                {
                    "source": "RPA3",
                    "target": "RFWD3"
                },
                {
                    "source": "RPA3",
                    "target": "RMI1"
                },
                {
                    "source": "RPA3",
                    "target": "RPA2"
                },
                {
                    "source": "CENPS",
                    "target": "RMI1"
                },
                {
                    "source": "CENPS",
                    "target": "CENPX"
                },
                {
                    "source": "RFWD3",
                    "target": "RPA2"
                },
                {
                    "source": "PALB2",
                    "target": "BRCA2"
                },
                {
                    "source": "PALB2",
                    "target": "BRCA1"
                },
                {
                    "source": "PALB2",
                    "target": "MORF4L1"
                },
                {
                    "source": "PALB2",
                    "target": "RAD51C"
                },
                {
                    "source": "RMI1",
                    "target": "RMI2"
                },
                {
                    "source": "RMI1",
                    "target": "CENPX"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of RMI1 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_69c071b9a24f4c60878eb4c9065c7448.setOption(option_69c071b9a24f4c60878eb4c9065c7448);
    </script>
</body>
</html>
