<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="1240b4c4a6954d58a7795935e8e99c85" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_1240b4c4a6954d58a7795935e8e99c85 = echarts.init(
            document.getElementById('1240b4c4a6954d58a7795935e8e99c85'), 'white', {renderer: 'canvas'});
        var option_1240b4c4a6954d58a7795935e8e99c85 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "CDH2",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CTNND1",
                    "symbolSize": 35,
                    "itemStyle": {
                        "normal": {
                            "color": "orange"
                        }
                    }
                },
                {
                    "name": "CBLL1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "PKP4",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "ESR1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "EGFR",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CTNNA1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CDH1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "SRC",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "WTAP",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CDC42",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ERBIN",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CTNNB1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CDH5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PSEN1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "KRAS",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PDZD2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "SMURF1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PTPN6",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "JUP",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "DPP4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "LRRC7",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "FGFR1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "APC",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "GSK3B",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "CBLL1",
                    "target": "CDH1"
                },
                {
                    "source": "CBLL1",
                    "target": "ESR1"
                },
                {
                    "source": "CBLL1",
                    "target": "SRC"
                },
                {
                    "source": "CBLL1",
                    "target": "WTAP"
                },
                {
                    "source": "CBLL1",
                    "target": "CDC42"
                },
                {
                    "source": "CDH1",
                    "target": "CTNND1"
                },
                {
                    "source": "CDH1",
                    "target": "CTNNB1"
                },
                {
                    "source": "CDH1",
                    "target": "CTNNA1"
                },
                {
                    "source": "CDH1",
                    "target": "JUP"
                },
                {
                    "source": "PKP4",
                    "target": "ERBIN"
                },
                {
                    "source": "PKP4",
                    "target": "CTNNB1"
                },
                {
                    "source": "PKP4",
                    "target": "CDH5"
                },
                {
                    "source": "PKP4",
                    "target": "PSEN1"
                },
                {
                    "source": "PKP4",
                    "target": "KRAS"
                },
                {
                    "source": "PKP4",
                    "target": "PDZD2"
                },
                {
                    "source": "CTNNB1",
                    "target": "CTNND1"
                },
                {
                    "source": "CTNNB1",
                    "target": "CDH2"
                },
                {
                    "source": "CTNNB1",
                    "target": "APC"
                },
                {
                    "source": "CTNNB1",
                    "target": "GSK3B"
                },
                {
                    "source": "CTNNB1",
                    "target": "CDH5"
                },
                {
                    "source": "CTNNB1",
                    "target": "PSEN1"
                },
                {
                    "source": "CDH5",
                    "target": "CTNND1"
                },
                {
                    "source": "CDH5",
                    "target": "CTNNA1"
                },
                {
                    "source": "CDH5",
                    "target": "JUP"
                },
                {
                    "source": "PSEN1",
                    "target": "CTNND1"
                },
                {
                    "source": "KRAS",
                    "target": "CTNND1"
                },
                {
                    "source": "CTNND1",
                    "target": "EGFR"
                },
                {
                    "source": "CTNND1",
                    "target": "CDH2"
                },
                {
                    "source": "CTNND1",
                    "target": "SMURF1"
                },
                {
                    "source": "CTNND1",
                    "target": "PTPN6"
                },
                {
                    "source": "EGFR",
                    "target": "PTPN6"
                },
                {
                    "source": "CDH2",
                    "target": "CTNNA1"
                },
                {
                    "source": "CDH2",
                    "target": "JUP"
                },
                {
                    "source": "CDH2",
                    "target": "DPP4"
                },
                {
                    "source": "CDH2",
                    "target": "LRRC7"
                },
                {
                    "source": "CDH2",
                    "target": "FGFR1"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of CDH2 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_1240b4c4a6954d58a7795935e8e99c85.setOption(option_1240b4c4a6954d58a7795935e8e99c85);
    </script>
</body>
</html>
