<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="a8bd14efb0e5450b9b9e91f8db6618c3" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_a8bd14efb0e5450b9b9e91f8db6618c3 = echarts.init(
            document.getElementById('a8bd14efb0e5450b9b9e91f8db6618c3'), 'white', {renderer: 'canvas'});
        var option_a8bd14efb0e5450b9b9e91f8db6618c3 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "ADRM1",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "UBQLN1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "NFRKB",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "UBC",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PSMD4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PSMC1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "UCHL5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "UBQLN2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PSMC3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PSMD1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PSMD14",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PSMD2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PSMC4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PSMC5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PSMD3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PSMD7",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "SQSTM1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "USP5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "OTUB1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ATXN3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "UBQLN1",
                    "target": "UBC"
                },
                {
                    "source": "UBQLN1",
                    "target": "PSMD4"
                },
                {
                    "source": "UBQLN1",
                    "target": "UBQLN2"
                },
                {
                    "source": "UBC",
                    "target": "ADRM1"
                },
                {
                    "source": "UBC",
                    "target": "UCHL5"
                },
                {
                    "source": "UBC",
                    "target": "SQSTM1"
                },
                {
                    "source": "UBC",
                    "target": "USP5"
                },
                {
                    "source": "UBC",
                    "target": "OTUB1"
                },
                {
                    "source": "UBC",
                    "target": "ATXN3"
                },
                {
                    "source": "UBC",
                    "target": "PSMD4"
                },
                {
                    "source": "PSMD4",
                    "target": "ADRM1"
                },
                {
                    "source": "PSMD4",
                    "target": "PSMD14"
                },
                {
                    "source": "NFRKB",
                    "target": "UCHL5"
                },
                {
                    "source": "NFRKB",
                    "target": "PSMC3"
                },
                {
                    "source": "UCHL5",
                    "target": "ADRM1"
                },
                {
                    "source": "UCHL5",
                    "target": "PSMD14"
                },
                {
                    "source": "PSMC3",
                    "target": "PSMC5"
                },
                {
                    "source": "ADRM1",
                    "target": "PSMD1"
                },
                {
                    "source": "ADRM1",
                    "target": "PSMD14"
                },
                {
                    "source": "ADRM1",
                    "target": "PSMD2"
                },
                {
                    "source": "ADRM1",
                    "target": "PSMC4"
                },
                {
                    "source": "ADRM1",
                    "target": "PSMC5"
                },
                {
                    "source": "ADRM1",
                    "target": "PSMC1"
                },
                {
                    "source": "ADRM1",
                    "target": "PSMD3"
                },
                {
                    "source": "PSMD1",
                    "target": "PSMD14"
                },
                {
                    "source": "PSMD1",
                    "target": "PSMC5"
                },
                {
                    "source": "PSMD1",
                    "target": "PSMC1"
                },
                {
                    "source": "PSMD1",
                    "target": "PSMD7"
                },
                {
                    "source": "PSMD14",
                    "target": "PSMD7"
                },
                {
                    "source": "PSMD14",
                    "target": "PSMC5"
                },
                {
                    "source": "PSMD14",
                    "target": "PSMC4"
                },
                {
                    "source": "PSMD14",
                    "target": "PSMD2"
                },
                {
                    "source": "PSMD14",
                    "target": "PSMD3"
                },
                {
                    "source": "PSMD2",
                    "target": "PSMC1"
                },
                {
                    "source": "PSMC4",
                    "target": "PSMC5"
                },
                {
                    "source": "PSMC4",
                    "target": "PSMC1"
                },
                {
                    "source": "PSMC4",
                    "target": "PSMD7"
                },
                {
                    "source": "PSMC5",
                    "target": "PSMC1"
                },
                {
                    "source": "PSMD3",
                    "target": "PSMD7"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of ADRM1 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_a8bd14efb0e5450b9b9e91f8db6618c3.setOption(option_a8bd14efb0e5450b9b9e91f8db6618c3);
    </script>
</body>
</html>
