<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="4e0b970261274298a2ffdcbbd8bb4cb2" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_4e0b970261274298a2ffdcbbd8bb4cb2 = echarts.init(
            document.getElementById('4e0b970261274298a2ffdcbbd8bb4cb2'), 'white', {renderer: 'canvas'});
        var option_4e0b970261274298a2ffdcbbd8bb4cb2 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "RNPC3",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SNRPN",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "SNRPA",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "SNRNP70",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "SNRNP35",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RNPS1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SRSF1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SNRPF",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "GEMIN2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SNRPD3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SNRPD1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PTBP1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "EFTUD2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SNRPG",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PRPF8",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SFPQ",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SNRPA1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HNRNPK",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ZCRB1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SRPK2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "JMJD6",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "U2AF2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SNRPD2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SNRPC",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SNRPE",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TFIP11",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "GEMIN7",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ZRSR2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ZMAT5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "SNRNP48",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "SNRPN",
                    "target": "SNRPA"
                },
                {
                    "source": "SNRPN",
                    "target": "EFTUD2"
                },
                {
                    "source": "SNRPN",
                    "target": "SNRNP70"
                },
                {
                    "source": "SNRPN",
                    "target": "GEMIN2"
                },
                {
                    "source": "SNRPN",
                    "target": "TFIP11"
                },
                {
                    "source": "SNRPN",
                    "target": "PRPF8"
                },
                {
                    "source": "SNRPN",
                    "target": "SNRPA1"
                },
                {
                    "source": "SNRPN",
                    "target": "RNPC3"
                },
                {
                    "source": "SNRPN",
                    "target": "SNRNP35"
                },
                {
                    "source": "SNRPN",
                    "target": "ZMAT5"
                },
                {
                    "source": "SNRPA",
                    "target": "SNRPA1"
                },
                {
                    "source": "SNRPA",
                    "target": "U2AF2"
                },
                {
                    "source": "SNRPA",
                    "target": "PTBP1"
                },
                {
                    "source": "SNRPA",
                    "target": "SNRNP70"
                },
                {
                    "source": "SNRPA",
                    "target": "SFPQ"
                },
                {
                    "source": "SNRPA",
                    "target": "HNRNPK"
                },
                {
                    "source": "SNRNP70",
                    "target": "SRPK2"
                },
                {
                    "source": "SNRNP70",
                    "target": "SRSF1"
                },
                {
                    "source": "SNRNP70",
                    "target": "SNRPD2"
                },
                {
                    "source": "SNRNP70",
                    "target": "SNRPD1"
                },
                {
                    "source": "SNRNP70",
                    "target": "RNPS1"
                },
                {
                    "source": "SNRNP70",
                    "target": "SNRPC"
                },
                {
                    "source": "SNRNP70",
                    "target": "SNRPD3"
                },
                {
                    "source": "SNRNP70",
                    "target": "GEMIN7"
                },
                {
                    "source": "SNRNP70",
                    "target": "SNRPE"
                },
                {
                    "source": "SRPK2",
                    "target": "ZRSR2"
                },
                {
                    "source": "SNRPD2",
                    "target": "SNRPF"
                },
                {
                    "source": "SNRPD2",
                    "target": "SNRPE"
                },
                {
                    "source": "SNRPD3",
                    "target": "SNRPG"
                },
                {
                    "source": "SNRPE",
                    "target": "RNPC3"
                },
                {
                    "source": "SNRPE",
                    "target": "SNRNP35"
                },
                {
                    "source": "SNRPE",
                    "target": "SNRPG"
                },
                {
                    "source": "SNRPE",
                    "target": "SNRPF"
                },
                {
                    "source": "RNPC3",
                    "target": "ZRSR2"
                },
                {
                    "source": "RNPC3",
                    "target": "JMJD6"
                },
                {
                    "source": "RNPC3",
                    "target": "SNRNP35"
                },
                {
                    "source": "RNPC3",
                    "target": "ZMAT5"
                },
                {
                    "source": "RNPC3",
                    "target": "SNRPG"
                },
                {
                    "source": "RNPC3",
                    "target": "ZCRB1"
                },
                {
                    "source": "RNPC3",
                    "target": "SNRPF"
                },
                {
                    "source": "ZRSR2",
                    "target": "SNRNP35"
                },
                {
                    "source": "ZRSR2",
                    "target": "ZMAT5"
                },
                {
                    "source": "ZRSR2",
                    "target": "ZCRB1"
                },
                {
                    "source": "SNRNP35",
                    "target": "SNRNP48"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of RNPC3 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_4e0b970261274298a2ffdcbbd8bb4cb2.setOption(option_4e0b970261274298a2ffdcbbd8bb4cb2);
    </script>
</body>
</html>
