<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="1ba3f0b3a0a74063b4a136a140f3659e" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_1ba3f0b3a0a74063b4a136a140f3659e = echarts.init(
            document.getElementById('1ba3f0b3a0a74063b4a136a140f3659e'), 'white', {renderer: 'canvas'});
        var option_1ba3f0b3a0a74063b4a136a140f3659e = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "CHKA",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "APP",
                    "symbolSize": 35,
                    "itemStyle": {
                        "normal": {
                            "color": "orange"
                        }
                    }
                },
                {
                    "name": "CLU",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "KAT5",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "HSPD1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HSP90B1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TP53",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "XRCC6",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HSPB1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CRYAB",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "BAX",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TGFBR2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "IDE",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "APP",
                    "target": "CLU"
                },
                {
                    "source": "APP",
                    "target": "CRYAB"
                },
                {
                    "source": "APP",
                    "target": "KAT5"
                },
                {
                    "source": "APP",
                    "target": "CHKA"
                },
                {
                    "source": "CLU",
                    "target": "XRCC6"
                },
                {
                    "source": "CLU",
                    "target": "BAX"
                },
                {
                    "source": "CLU",
                    "target": "HSPD1"
                },
                {
                    "source": "CLU",
                    "target": "HSP90B1"
                },
                {
                    "source": "CLU",
                    "target": "TGFBR2"
                },
                {
                    "source": "CRYAB",
                    "target": "HSPB1"
                },
                {
                    "source": "KAT5",
                    "target": "TP53"
                },
                {
                    "source": "CHKA",
                    "target": "IDE"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of CHKA union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_1ba3f0b3a0a74063b4a136a140f3659e.setOption(option_1ba3f0b3a0a74063b4a136a140f3659e);
    </script>
</body>
</html>
