<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="ffe8b51fa9a346959bada85b3d9483e6" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_ffe8b51fa9a346959bada85b3d9483e6 = echarts.init(
            document.getElementById('ffe8b51fa9a346959bada85b3d9483e6'), 'white', {renderer: 'canvas'});
        var option_ffe8b51fa9a346959bada85b3d9483e6 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "BCCIP",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "YY1",
                    "symbolSize": 35,
                    "itemStyle": {
                        "normal": {
                            "color": "orange"
                        }
                    }
                },
                {
                    "name": "NFRKB",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "INO80E",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "RPL23",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SIN3A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TFPT",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HDAC2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MCRS1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RUVBL2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "UCHL5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "UBC",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RAD51",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "INO80",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RUVBL1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CDKN1A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "DMAP1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "NFRKB",
                    "target": "UCHL5"
                },
                {
                    "source": "NFRKB",
                    "target": "INO80"
                },
                {
                    "source": "NFRKB",
                    "target": "YY1"
                },
                {
                    "source": "NFRKB",
                    "target": "INO80E"
                },
                {
                    "source": "NFRKB",
                    "target": "RUVBL2"
                },
                {
                    "source": "NFRKB",
                    "target": "RUVBL1"
                },
                {
                    "source": "NFRKB",
                    "target": "TFPT"
                },
                {
                    "source": "UCHL5",
                    "target": "INO80E"
                },
                {
                    "source": "UCHL5",
                    "target": "YY1"
                },
                {
                    "source": "UCHL5",
                    "target": "INO80"
                },
                {
                    "source": "UCHL5",
                    "target": "UBC"
                },
                {
                    "source": "INO80",
                    "target": "INO80E"
                },
                {
                    "source": "INO80",
                    "target": "YY1"
                },
                {
                    "source": "YY1",
                    "target": "INO80E"
                },
                {
                    "source": "YY1",
                    "target": "RUVBL2"
                },
                {
                    "source": "YY1",
                    "target": "RUVBL1"
                },
                {
                    "source": "YY1",
                    "target": "HDAC2"
                },
                {
                    "source": "YY1",
                    "target": "BCCIP"
                },
                {
                    "source": "INO80E",
                    "target": "MCRS1"
                },
                {
                    "source": "INO80E",
                    "target": "RUVBL2"
                },
                {
                    "source": "INO80E",
                    "target": "TFPT"
                },
                {
                    "source": "INO80E",
                    "target": "RUVBL1"
                },
                {
                    "source": "RUVBL2",
                    "target": "RUVBL1"
                },
                {
                    "source": "RUVBL1",
                    "target": "DMAP1"
                },
                {
                    "source": "HDAC2",
                    "target": "SIN3A"
                },
                {
                    "source": "BCCIP",
                    "target": "RPL23"
                },
                {
                    "source": "BCCIP",
                    "target": "CDKN1A"
                },
                {
                    "source": "BCCIP",
                    "target": "RAD51"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of BCCIP union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_ffe8b51fa9a346959bada85b3d9483e6.setOption(option_ffe8b51fa9a346959bada85b3d9483e6);
    </script>
</body>
</html>
