<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="a37bd44ebe4a4af3997c260b45c8a73c" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_a37bd44ebe4a4af3997c260b45c8a73c = echarts.init(
            document.getElementById('a37bd44ebe4a4af3997c260b45c8a73c'), 'white', {renderer: 'canvas'});
        var option_a37bd44ebe4a4af3997c260b45c8a73c = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "KIAA0753",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CCDC14",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "CEP131",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "CEP72",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "CEP63",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PCM1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PIBF1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CEP135",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CENPJ",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "CCDC14",
                    "target": "CEP63"
                },
                {
                    "source": "CCDC14",
                    "target": "PCM1"
                },
                {
                    "source": "CCDC14",
                    "target": "CEP72"
                },
                {
                    "source": "CCDC14",
                    "target": "KIAA0753"
                },
                {
                    "source": "CCDC14",
                    "target": "PIBF1"
                },
                {
                    "source": "CEP63",
                    "target": "KIAA0753"
                },
                {
                    "source": "PCM1",
                    "target": "CEP131"
                },
                {
                    "source": "PCM1",
                    "target": "CEP72"
                },
                {
                    "source": "PCM1",
                    "target": "KIAA0753"
                },
                {
                    "source": "CEP72",
                    "target": "CEP135"
                },
                {
                    "source": "KIAA0753",
                    "target": "CEP135"
                },
                {
                    "source": "PIBF1",
                    "target": "CEP135"
                },
                {
                    "source": "CEP131",
                    "target": "CEP135"
                },
                {
                    "source": "CEP131",
                    "target": "CENPJ"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of KIAA0753 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_a37bd44ebe4a4af3997c260b45c8a73c.setOption(option_a37bd44ebe4a4af3997c260b45c8a73c);
    </script>
</body>
</html>
