<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="5efa576039a14b1b830f9b8b523760f3" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_5efa576039a14b1b830f9b8b523760f3 = echarts.init(
            document.getElementById('5efa576039a14b1b830f9b8b523760f3'), 'white', {renderer: 'canvas'});
        var option_5efa576039a14b1b830f9b8b523760f3 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "KANSL3",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "GPBP1L1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "SETD1A",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "FOXK2",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "ASXL2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PHF20",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TP53",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RBBP7",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SIN3A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HDAC1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MCRS1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ASXL1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "KMT2D",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "IRF2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CXXC1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "KMT2A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "KANSL2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "RBBP5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "WDR5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ASH2L",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "HCFC1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "DPY30",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PRMT2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "BAP1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TBL1X",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "OGT",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "KANSL1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "KAT8",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "GPBP1L1",
                    "target": "KANSL2"
                },
                {
                    "source": "KANSL2",
                    "target": "KANSL3"
                },
                {
                    "source": "KANSL2",
                    "target": "PHF20"
                },
                {
                    "source": "KANSL2",
                    "target": "WDR5"
                },
                {
                    "source": "KANSL2",
                    "target": "KANSL1"
                },
                {
                    "source": "SETD1A",
                    "target": "RBBP5"
                },
                {
                    "source": "SETD1A",
                    "target": "CXXC1"
                },
                {
                    "source": "SETD1A",
                    "target": "WDR5"
                },
                {
                    "source": "SETD1A",
                    "target": "ASH2L"
                },
                {
                    "source": "SETD1A",
                    "target": "HCFC1"
                },
                {
                    "source": "SETD1A",
                    "target": "TP53"
                },
                {
                    "source": "SETD1A",
                    "target": "DPY30"
                },
                {
                    "source": "SETD1A",
                    "target": "PRMT2"
                },
                {
                    "source": "RBBP5",
                    "target": "WDR5"
                },
                {
                    "source": "WDR5",
                    "target": "KANSL3"
                },
                {
                    "source": "WDR5",
                    "target": "KANSL1"
                },
                {
                    "source": "WDR5",
                    "target": "KMT2A"
                },
                {
                    "source": "WDR5",
                    "target": "ASH2L"
                },
                {
                    "source": "WDR5",
                    "target": "KMT2D"
                },
                {
                    "source": "HCFC1",
                    "target": "FOXK2"
                },
                {
                    "source": "HCFC1",
                    "target": "OGT"
                },
                {
                    "source": "FOXK2",
                    "target": "BAP1"
                },
                {
                    "source": "FOXK2",
                    "target": "SIN3A"
                },
                {
                    "source": "FOXK2",
                    "target": "ASXL1"
                },
                {
                    "source": "FOXK2",
                    "target": "TBL1X"
                },
                {
                    "source": "FOXK2",
                    "target": "ASXL2"
                },
                {
                    "source": "FOXK2",
                    "target": "HDAC1"
                },
                {
                    "source": "FOXK2",
                    "target": "IRF2"
                },
                {
                    "source": "FOXK2",
                    "target": "RBBP7"
                },
                {
                    "source": "FOXK2",
                    "target": "KANSL3"
                },
                {
                    "source": "BAP1",
                    "target": "OGT"
                },
                {
                    "source": "KANSL3",
                    "target": "OGT"
                },
                {
                    "source": "KANSL3",
                    "target": "PHF20"
                },
                {
                    "source": "KANSL3",
                    "target": "KANSL1"
                },
                {
                    "source": "KANSL3",
                    "target": "MCRS1"
                },
                {
                    "source": "PHF20",
                    "target": "KAT8"
                },
                {
                    "source": "PHF20",
                    "target": "MCRS1"
                },
                {
                    "source": "PHF20",
                    "target": "KANSL1"
                },
                {
                    "source": "KANSL1",
                    "target": "KAT8"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of KANSL3 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_5efa576039a14b1b830f9b8b523760f3.setOption(option_5efa576039a14b1b830f9b8b523760f3);
    </script>
</body>
</html>
