<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="723ac1755ceb47d287d990ca1cf22d7d" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_723ac1755ceb47d287d990ca1cf22d7d = echarts.init(
            document.getElementById('723ac1755ceb47d287d990ca1cf22d7d'), 'white', {renderer: 'canvas'});
        var option_723ac1755ceb47d287d990ca1cf22d7d = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "EHD1",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MICALL1",
                    "symbolSize": 35,
                    "itemStyle": {
                        "normal": {
                            "color": "orange"
                        }
                    }
                },
                {
                    "name": "SH3KBP1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "CGN",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "GDI2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "YWHAE",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "YWHAZ",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "EGFR",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "YWHAG",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CBL",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CBLB",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PDCD6IP",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CD2AP",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "EHD3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PACSIN3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "RAB8B",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "YWHAB",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TJP1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "DAB2IP",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "YWHAH",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ACTA2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TJP2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ANKFY1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "RBSN",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "KRAS",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "SNAP29",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "NRAS",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "EHD4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "RAB11FIP2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PACSIN2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PACSIN1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "RAB1B",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MICAL3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "RAB5C",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "BRAF",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "RAF1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "EPB41L3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TSC2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "SH3KBP1",
                    "target": "CBL"
                },
                {
                    "source": "SH3KBP1",
                    "target": "CBLB"
                },
                {
                    "source": "SH3KBP1",
                    "target": "EGFR"
                },
                {
                    "source": "SH3KBP1",
                    "target": "PDCD6IP"
                },
                {
                    "source": "SH3KBP1",
                    "target": "CD2AP"
                },
                {
                    "source": "SH3KBP1",
                    "target": "MICALL1"
                },
                {
                    "source": "MICALL1",
                    "target": "EHD1"
                },
                {
                    "source": "MICALL1",
                    "target": "EHD3"
                },
                {
                    "source": "MICALL1",
                    "target": "PACSIN3"
                },
                {
                    "source": "MICALL1",
                    "target": "RAB8B"
                },
                {
                    "source": "MICALL1",
                    "target": "YWHAG"
                },
                {
                    "source": "MICALL1",
                    "target": "YWHAB"
                },
                {
                    "source": "MICALL1",
                    "target": "CGN"
                },
                {
                    "source": "EHD1",
                    "target": "EHD3"
                },
                {
                    "source": "EHD1",
                    "target": "ANKFY1"
                },
                {
                    "source": "EHD1",
                    "target": "RBSN"
                },
                {
                    "source": "EHD1",
                    "target": "KRAS"
                },
                {
                    "source": "EHD1",
                    "target": "SNAP29"
                },
                {
                    "source": "EHD1",
                    "target": "NRAS"
                },
                {
                    "source": "EHD1",
                    "target": "EHD4"
                },
                {
                    "source": "EHD3",
                    "target": "RBSN"
                },
                {
                    "source": "EHD3",
                    "target": "RAB11FIP2"
                },
                {
                    "source": "EHD3",
                    "target": "EHD4"
                },
                {
                    "source": "PACSIN3",
                    "target": "PACSIN2"
                },
                {
                    "source": "PACSIN3",
                    "target": "PACSIN1"
                },
                {
                    "source": "RAB8B",
                    "target": "RAB1B"
                },
                {
                    "source": "RAB8B",
                    "target": "MICAL3"
                },
                {
                    "source": "RAB8B",
                    "target": "GDI2"
                },
                {
                    "source": "RAB8B",
                    "target": "RAB5C"
                },
                {
                    "source": "YWHAG",
                    "target": "CGN"
                },
                {
                    "source": "YWHAG",
                    "target": "BRAF"
                },
                {
                    "source": "YWHAG",
                    "target": "RAF1"
                },
                {
                    "source": "YWHAG",
                    "target": "EPB41L3"
                },
                {
                    "source": "YWHAG",
                    "target": "YWHAE"
                },
                {
                    "source": "YWHAB",
                    "target": "CGN"
                },
                {
                    "source": "YWHAB",
                    "target": "RAF1"
                },
                {
                    "source": "YWHAB",
                    "target": "TSC2"
                },
                {
                    "source": "YWHAB",
                    "target": "BRAF"
                },
                {
                    "source": "CGN",
                    "target": "TJP1"
                },
                {
                    "source": "CGN",
                    "target": "YWHAE"
                },
                {
                    "source": "CGN",
                    "target": "DAB2IP"
                },
                {
                    "source": "CGN",
                    "target": "YWHAZ"
                },
                {
                    "source": "CGN",
                    "target": "YWHAH"
                },
                {
                    "source": "CGN",
                    "target": "ACTA2"
                },
                {
                    "source": "CGN",
                    "target": "TJP2"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of EHD1 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_723ac1755ceb47d287d990ca1cf22d7d.setOption(option_723ac1755ceb47d287d990ca1cf22d7d);
    </script>
</body>
</html>
