<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="cb895829a3524568b8df55cbd04da36d" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_cb895829a3524568b8df55cbd04da36d = echarts.init(
            document.getElementById('cb895829a3524568b8df55cbd04da36d'), 'white', {renderer: 'canvas'});
        var option_cb895829a3524568b8df55cbd04da36d = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "FAAP100",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "FAAP20",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "BLM",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "FANCE",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "FANCM",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RAD51",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HES1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "FANCG",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TOP3A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TP53",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CENPS",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "FAAP24",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CENPX",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TOPBP1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "FANCA",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "FANCL",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "FANCF",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "FANCB",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "FANCC",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "FANCD2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "UBE2T",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "FAAP20",
                    "target": "FANCA"
                },
                {
                    "source": "FAAP20",
                    "target": "FANCG"
                },
                {
                    "source": "FAAP20",
                    "target": "FANCL"
                },
                {
                    "source": "FAAP20",
                    "target": "FANCF"
                },
                {
                    "source": "FAAP20",
                    "target": "FANCB"
                },
                {
                    "source": "FAAP20",
                    "target": "FANCM"
                },
                {
                    "source": "FAAP20",
                    "target": "FAAP100"
                },
                {
                    "source": "FAAP20",
                    "target": "FANCE"
                },
                {
                    "source": "FANCA",
                    "target": "BLM"
                },
                {
                    "source": "FANCA",
                    "target": "FANCE"
                },
                {
                    "source": "FANCA",
                    "target": "FAAP100"
                },
                {
                    "source": "FANCA",
                    "target": "FANCM"
                },
                {
                    "source": "FANCA",
                    "target": "FANCL"
                },
                {
                    "source": "FANCA",
                    "target": "FANCG"
                },
                {
                    "source": "FANCA",
                    "target": "FANCC"
                },
                {
                    "source": "FANCA",
                    "target": "FANCF"
                },
                {
                    "source": "FANCA",
                    "target": "CENPS"
                },
                {
                    "source": "FANCA",
                    "target": "FANCB"
                },
                {
                    "source": "FANCG",
                    "target": "FANCE"
                },
                {
                    "source": "FANCG",
                    "target": "FAAP100"
                },
                {
                    "source": "FANCG",
                    "target": "FANCM"
                },
                {
                    "source": "FANCG",
                    "target": "FANCF"
                },
                {
                    "source": "FANCG",
                    "target": "FANCC"
                },
                {
                    "source": "FANCL",
                    "target": "FAAP100"
                },
                {
                    "source": "FANCL",
                    "target": "FANCM"
                },
                {
                    "source": "FANCL",
                    "target": "UBE2T"
                },
                {
                    "source": "FANCL",
                    "target": "FANCD2"
                },
                {
                    "source": "FANCL",
                    "target": "FANCB"
                },
                {
                    "source": "FANCF",
                    "target": "FANCE"
                },
                {
                    "source": "FANCF",
                    "target": "FANCM"
                },
                {
                    "source": "FANCB",
                    "target": "FAAP100"
                },
                {
                    "source": "FANCB",
                    "target": "FANCM"
                },
                {
                    "source": "FANCB",
                    "target": "UBE2T"
                },
                {
                    "source": "FANCM",
                    "target": "BLM"
                },
                {
                    "source": "FANCM",
                    "target": "FANCE"
                },
                {
                    "source": "FANCM",
                    "target": "FAAP100"
                },
                {
                    "source": "FANCM",
                    "target": "FAAP24"
                },
                {
                    "source": "FANCM",
                    "target": "CENPS"
                },
                {
                    "source": "FAAP100",
                    "target": "CENPS"
                },
                {
                    "source": "FANCE",
                    "target": "FANCC"
                },
                {
                    "source": "FANCE",
                    "target": "FANCD2"
                },
                {
                    "source": "FANCE",
                    "target": "HES1"
                },
                {
                    "source": "FANCE",
                    "target": "CENPX"
                },
                {
                    "source": "FANCE",
                    "target": "CENPS"
                },
                {
                    "source": "BLM",
                    "target": "TOP3A"
                },
                {
                    "source": "BLM",
                    "target": "TP53"
                },
                {
                    "source": "BLM",
                    "target": "RAD51"
                },
                {
                    "source": "BLM",
                    "target": "CENPS"
                },
                {
                    "source": "BLM",
                    "target": "TOPBP1"
                },
                {
                    "source": "CENPS",
                    "target": "CENPX"
                },
                {
                    "source": "CENPS",
                    "target": "FAAP24"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of FAAP100 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_cb895829a3524568b8df55cbd04da36d.setOption(option_cb895829a3524568b8df55cbd04da36d);
    </script>
</body>
</html>
