<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="5ecde9619a944e2695d761f0c5ed2e17" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_5ecde9619a944e2695d761f0c5ed2e17 = echarts.init(
            document.getElementById('5ecde9619a944e2695d761f0c5ed2e17'), 'white', {renderer: 'canvas'});
        var option_5ecde9619a944e2695d761f0c5ed2e17 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "MED7",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MED15",
                    "symbolSize": 35,
                    "itemStyle": {
                        "normal": {
                            "color": "orange"
                        }
                    }
                },
                {
                    "name": "MED26",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "MED19",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "MED12",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ESR1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "POLR2G",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SREBF1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PPARG",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MED6",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MED1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MED8",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MED10",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MED18",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MED13",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MED4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MED21",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MED28",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MED31",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MED17",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MED29",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MED14",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MED20",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "MED15",
                    "target": "MED1"
                },
                {
                    "source": "MED15",
                    "target": "MED7"
                },
                {
                    "source": "MED15",
                    "target": "MED12"
                },
                {
                    "source": "MED15",
                    "target": "SREBF1"
                },
                {
                    "source": "MED15",
                    "target": "MED19"
                },
                {
                    "source": "MED15",
                    "target": "MED10"
                },
                {
                    "source": "MED15",
                    "target": "MED18"
                },
                {
                    "source": "MED15",
                    "target": "MED13"
                },
                {
                    "source": "MED1",
                    "target": "MED26"
                },
                {
                    "source": "MED1",
                    "target": "MED19"
                },
                {
                    "source": "MED1",
                    "target": "MED7"
                },
                {
                    "source": "MED1",
                    "target": "MED13"
                },
                {
                    "source": "MED1",
                    "target": "PPARG"
                },
                {
                    "source": "MED1",
                    "target": "ESR1"
                },
                {
                    "source": "MED1",
                    "target": "MED12"
                },
                {
                    "source": "MED7",
                    "target": "MED26"
                },
                {
                    "source": "MED7",
                    "target": "MED19"
                },
                {
                    "source": "MED7",
                    "target": "MED10"
                },
                {
                    "source": "MED7",
                    "target": "MED13"
                },
                {
                    "source": "MED7",
                    "target": "MED4"
                },
                {
                    "source": "MED7",
                    "target": "MED14"
                },
                {
                    "source": "MED7",
                    "target": "MED6"
                },
                {
                    "source": "MED12",
                    "target": "MED26"
                },
                {
                    "source": "MED12",
                    "target": "MED10"
                },
                {
                    "source": "MED12",
                    "target": "MED13"
                },
                {
                    "source": "MED12",
                    "target": "MED4"
                },
                {
                    "source": "MED12",
                    "target": "MED14"
                },
                {
                    "source": "MED19",
                    "target": "MED26"
                },
                {
                    "source": "MED19",
                    "target": "MED31"
                },
                {
                    "source": "MED19",
                    "target": "MED13"
                },
                {
                    "source": "MED19",
                    "target": "MED8"
                },
                {
                    "source": "MED19",
                    "target": "MED18"
                },
                {
                    "source": "MED19",
                    "target": "MED4"
                },
                {
                    "source": "MED19",
                    "target": "MED17"
                },
                {
                    "source": "MED19",
                    "target": "MED29"
                },
                {
                    "source": "MED19",
                    "target": "MED6"
                },
                {
                    "source": "MED19",
                    "target": "MED10"
                },
                {
                    "source": "MED10",
                    "target": "MED17"
                },
                {
                    "source": "MED10",
                    "target": "MED6"
                },
                {
                    "source": "MED10",
                    "target": "MED8"
                },
                {
                    "source": "MED10",
                    "target": "MED18"
                },
                {
                    "source": "MED10",
                    "target": "MED13"
                },
                {
                    "source": "MED18",
                    "target": "MED26"
                },
                {
                    "source": "MED18",
                    "target": "MED13"
                },
                {
                    "source": "MED18",
                    "target": "MED4"
                },
                {
                    "source": "MED18",
                    "target": "MED20"
                },
                {
                    "source": "MED26",
                    "target": "MED4"
                },
                {
                    "source": "MED26",
                    "target": "POLR2G"
                },
                {
                    "source": "MED26",
                    "target": "MED21"
                },
                {
                    "source": "MED26",
                    "target": "MED28"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of MED7 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_5ecde9619a944e2695d761f0c5ed2e17.setOption(option_5ecde9619a944e2695d761f0c5ed2e17);
    </script>
</body>
</html>
