<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="3d205fffd35041b2a34d293720cbc312" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_3d205fffd35041b2a34d293720cbc312 = echarts.init(
            document.getElementById('3d205fffd35041b2a34d293720cbc312'), 'white', {renderer: 'canvas'});
        var option_3d205fffd35041b2a34d293720cbc312 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "SSRP1",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TONSL",
                    "symbolSize": 35,
                    "itemStyle": {
                        "normal": {
                            "color": "orange"
                        }
                    }
                },
                {
                    "name": "UIMC1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "RBBP8",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "DAXX",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "ATRX",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "H2BC1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TP53",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MCM4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SUPT16H",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "H2AX",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SUMO1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MCM2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "H3C1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "BARD1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "H3-3A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PML",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "UBC",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SUMO2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MRE11",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "BRCA1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "UBE2I",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "H4C1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MDC1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CDK1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ASF1B",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ASF1A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "UIMC1",
                    "target": "UBC"
                },
                {
                    "source": "UIMC1",
                    "target": "BRCA1"
                },
                {
                    "source": "UIMC1",
                    "target": "SUMO2"
                },
                {
                    "source": "UIMC1",
                    "target": "MDC1"
                },
                {
                    "source": "UIMC1",
                    "target": "CDK1"
                },
                {
                    "source": "BRCA1",
                    "target": "RBBP8"
                },
                {
                    "source": "BRCA1",
                    "target": "TONSL"
                },
                {
                    "source": "BRCA1",
                    "target": "H2AX"
                },
                {
                    "source": "BRCA1",
                    "target": "BARD1"
                },
                {
                    "source": "SUMO2",
                    "target": "DAXX"
                },
                {
                    "source": "MDC1",
                    "target": "H2AX"
                },
                {
                    "source": "RBBP8",
                    "target": "MRE11"
                },
                {
                    "source": "RBBP8",
                    "target": "BARD1"
                },
                {
                    "source": "DAXX",
                    "target": "ATRX"
                },
                {
                    "source": "DAXX",
                    "target": "H3-3A"
                },
                {
                    "source": "DAXX",
                    "target": "PML"
                },
                {
                    "source": "DAXX",
                    "target": "SUMO1"
                },
                {
                    "source": "DAXX",
                    "target": "TP53"
                },
                {
                    "source": "DAXX",
                    "target": "UBE2I"
                },
                {
                    "source": "DAXX",
                    "target": "H4C1"
                },
                {
                    "source": "H3-3A",
                    "target": "ASF1B"
                },
                {
                    "source": "H3-3A",
                    "target": "ASF1A"
                },
                {
                    "source": "SSRP1",
                    "target": "SUPT16H"
                },
                {
                    "source": "SSRP1",
                    "target": "TONSL"
                },
                {
                    "source": "SSRP1",
                    "target": "H2AX"
                },
                {
                    "source": "SSRP1",
                    "target": "MCM2"
                },
                {
                    "source": "SSRP1",
                    "target": "MCM4"
                },
                {
                    "source": "SSRP1",
                    "target": "H4C1"
                },
                {
                    "source": "SSRP1",
                    "target": "H2BC1"
                },
                {
                    "source": "TONSL",
                    "target": "ASF1B"
                },
                {
                    "source": "TONSL",
                    "target": "ASF1A"
                },
                {
                    "source": "TONSL",
                    "target": "MCM2"
                },
                {
                    "source": "TONSL",
                    "target": "H3C1"
                },
                {
                    "source": "TONSL",
                    "target": "H4C1"
                },
                {
                    "source": "TONSL",
                    "target": "H2AX"
                },
                {
                    "source": "MCM2",
                    "target": "ASF1A"
                },
                {
                    "source": "MCM2",
                    "target": "MCM4"
                },
                {
                    "source": "H4C1",
                    "target": "H3C1"
                },
                {
                    "source": "H4C1",
                    "target": "ASF1A"
                },
                {
                    "source": "ASF1B",
                    "target": "H3C1"
                },
                {
                    "source": "ASF1A",
                    "target": "H3C1"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of SSRP1 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_3d205fffd35041b2a34d293720cbc312.setOption(option_3d205fffd35041b2a34d293720cbc312);
    </script>
</body>
</html>
