<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="284f4b8692294f6c8825e4bb5e56c1ae" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_284f4b8692294f6c8825e4bb5e56c1ae = echarts.init(
            document.getElementById('284f4b8692294f6c8825e4bb5e56c1ae'), 'white', {renderer: 'canvas'});
        var option_284f4b8692294f6c8825e4bb5e56c1ae = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "SETSIP",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TCF3",
                    "symbolSize": 35,
                    "itemStyle": {
                        "normal": {
                            "color": "orange"
                        }
                    }
                },
                {
                    "name": "NCOA3",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "TCF12",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "RARA",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NEUROD1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HIF1A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MYOG",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MYF6",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ESR2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "H4C1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NEUROG3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "AR",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "EP300",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "KAT2B",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ESR1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CREBBP",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NR2C2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "H3C1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TCF4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TP53",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RELA",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TAL1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MYOD1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "VDR",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PPARG",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TWIST1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PPP3CA",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "LMO2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "TCF3",
                    "target": "CREBBP"
                },
                {
                    "source": "TCF3",
                    "target": "TAL1"
                },
                {
                    "source": "TCF3",
                    "target": "EP300"
                },
                {
                    "source": "TCF3",
                    "target": "MYOG"
                },
                {
                    "source": "TCF3",
                    "target": "MYOD1"
                },
                {
                    "source": "TCF3",
                    "target": "KAT2B"
                },
                {
                    "source": "TCF3",
                    "target": "TWIST1"
                },
                {
                    "source": "TCF3",
                    "target": "SETSIP"
                },
                {
                    "source": "CREBBP",
                    "target": "NCOA3"
                },
                {
                    "source": "CREBBP",
                    "target": "TP53"
                },
                {
                    "source": "CREBBP",
                    "target": "RELA"
                },
                {
                    "source": "CREBBP",
                    "target": "MYOD1"
                },
                {
                    "source": "TAL1",
                    "target": "TCF12"
                },
                {
                    "source": "TAL1",
                    "target": "EP300"
                },
                {
                    "source": "TAL1",
                    "target": "LMO2"
                },
                {
                    "source": "TAL1",
                    "target": "TCF4"
                },
                {
                    "source": "EP300",
                    "target": "NCOA3"
                },
                {
                    "source": "EP300",
                    "target": "SETSIP"
                },
                {
                    "source": "EP300",
                    "target": "TP53"
                },
                {
                    "source": "EP300",
                    "target": "HIF1A"
                },
                {
                    "source": "EP300",
                    "target": "H3C1"
                },
                {
                    "source": "EP300",
                    "target": "H4C1"
                },
                {
                    "source": "EP300",
                    "target": "RELA"
                },
                {
                    "source": "EP300",
                    "target": "MYOD1"
                },
                {
                    "source": "MYOG",
                    "target": "TCF12"
                },
                {
                    "source": "MYOG",
                    "target": "TCF4"
                },
                {
                    "source": "MYOD1",
                    "target": "KAT2B"
                },
                {
                    "source": "KAT2B",
                    "target": "TP53"
                },
                {
                    "source": "KAT2B",
                    "target": "H3C1"
                },
                {
                    "source": "KAT2B",
                    "target": "H4C1"
                },
                {
                    "source": "KAT2B",
                    "target": "TWIST1"
                },
                {
                    "source": "TWIST1",
                    "target": "TCF4"
                },
                {
                    "source": "NCOA3",
                    "target": "ESR1"
                },
                {
                    "source": "NCOA3",
                    "target": "PPARG"
                },
                {
                    "source": "NCOA3",
                    "target": "ESR2"
                },
                {
                    "source": "NCOA3",
                    "target": "RARA"
                },
                {
                    "source": "NCOA3",
                    "target": "VDR"
                },
                {
                    "source": "NCOA3",
                    "target": "AR"
                },
                {
                    "source": "TCF12",
                    "target": "NEUROG3"
                },
                {
                    "source": "TCF12",
                    "target": "NEUROD1"
                },
                {
                    "source": "TCF12",
                    "target": "MYF6"
                },
                {
                    "source": "TCF12",
                    "target": "TCF4"
                },
                {
                    "source": "SETSIP",
                    "target": "NR2C2"
                },
                {
                    "source": "SETSIP",
                    "target": "PPP3CA"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of SETSIP union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_284f4b8692294f6c8825e4bb5e56c1ae.setOption(option_284f4b8692294f6c8825e4bb5e56c1ae);
    </script>
</body>
</html>
