<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="d10f6fd401624eb6aa719d5004efd991" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_d10f6fd401624eb6aa719d5004efd991 = echarts.init(
            document.getElementById('d10f6fd401624eb6aa719d5004efd991'), 'white', {renderer: 'canvas'});
        var option_d10f6fd401624eb6aa719d5004efd991 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "ANAPC13",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CDC27",
                    "symbolSize": 35,
                    "itemStyle": {
                        "normal": {
                            "color": "orange"
                        }
                    }
                },
                {
                    "name": "PTTG1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "BUB1B",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "CDC20",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "FZR1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ANAPC11",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "BUB3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MAD2L1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ANAPC4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PLK1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "KNL1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "BUB1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ANAPC7",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CCNB1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CCNA2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CDC16",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CDC23",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CDC26",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ANAPC5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ANAPC16",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ANAPC15",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ANAPC2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MAD1L1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ANAPC1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "PTTG1",
                    "target": "CDC20"
                },
                {
                    "source": "PTTG1",
                    "target": "FZR1"
                },
                {
                    "source": "PTTG1",
                    "target": "BUB1B"
                },
                {
                    "source": "PTTG1",
                    "target": "CDC27"
                },
                {
                    "source": "PTTG1",
                    "target": "ANAPC11"
                },
                {
                    "source": "CDC20",
                    "target": "BUB1B"
                },
                {
                    "source": "CDC20",
                    "target": "MAD2L1"
                },
                {
                    "source": "CDC20",
                    "target": "CDC27"
                },
                {
                    "source": "CDC20",
                    "target": "CCNB1"
                },
                {
                    "source": "CDC20",
                    "target": "CCNA2"
                },
                {
                    "source": "CDC20",
                    "target": "ANAPC4"
                },
                {
                    "source": "CDC20",
                    "target": "ANAPC7"
                },
                {
                    "source": "CDC20",
                    "target": "CDC16"
                },
                {
                    "source": "CDC20",
                    "target": "BUB1"
                },
                {
                    "source": "CDC20",
                    "target": "CDC23"
                },
                {
                    "source": "CDC20",
                    "target": "ANAPC5"
                },
                {
                    "source": "CDC20",
                    "target": "ANAPC2"
                },
                {
                    "source": "FZR1",
                    "target": "ANAPC13"
                },
                {
                    "source": "FZR1",
                    "target": "CDC27"
                },
                {
                    "source": "FZR1",
                    "target": "CCNB1"
                },
                {
                    "source": "FZR1",
                    "target": "CCNA2"
                },
                {
                    "source": "FZR1",
                    "target": "ANAPC2"
                },
                {
                    "source": "BUB1B",
                    "target": "BUB3"
                },
                {
                    "source": "BUB1B",
                    "target": "CDC27"
                },
                {
                    "source": "BUB1B",
                    "target": "MAD2L1"
                },
                {
                    "source": "BUB1B",
                    "target": "ANAPC4"
                },
                {
                    "source": "BUB1B",
                    "target": "PLK1"
                },
                {
                    "source": "BUB1B",
                    "target": "KNL1"
                },
                {
                    "source": "BUB1B",
                    "target": "BUB1"
                },
                {
                    "source": "BUB1B",
                    "target": "ANAPC7"
                },
                {
                    "source": "CDC27",
                    "target": "ANAPC13"
                },
                {
                    "source": "CDC27",
                    "target": "ANAPC4"
                },
                {
                    "source": "CDC27",
                    "target": "CDC23"
                },
                {
                    "source": "CDC27",
                    "target": "CDC16"
                },
                {
                    "source": "CDC27",
                    "target": "MAD2L1"
                },
                {
                    "source": "CDC27",
                    "target": "ANAPC7"
                },
                {
                    "source": "CDC27",
                    "target": "ANAPC5"
                },
                {
                    "source": "CDC27",
                    "target": "ANAPC2"
                },
                {
                    "source": "MAD2L1",
                    "target": "ANAPC4"
                },
                {
                    "source": "MAD2L1",
                    "target": "MAD1L1"
                },
                {
                    "source": "ANAPC4",
                    "target": "ANAPC13"
                },
                {
                    "source": "ANAPC4",
                    "target": "CDC16"
                },
                {
                    "source": "ANAPC4",
                    "target": "ANAPC7"
                },
                {
                    "source": "ANAPC4",
                    "target": "CDC23"
                },
                {
                    "source": "ANAPC4",
                    "target": "ANAPC5"
                },
                {
                    "source": "ANAPC4",
                    "target": "ANAPC2"
                },
                {
                    "source": "ANAPC7",
                    "target": "ANAPC13"
                },
                {
                    "source": "ANAPC7",
                    "target": "CDC16"
                },
                {
                    "source": "CDC16",
                    "target": "ANAPC13"
                },
                {
                    "source": "CDC16",
                    "target": "CDC23"
                },
                {
                    "source": "CDC16",
                    "target": "CDC26"
                },
                {
                    "source": "CDC16",
                    "target": "ANAPC2"
                },
                {
                    "source": "ANAPC13",
                    "target": "CDC23"
                },
                {
                    "source": "ANAPC13",
                    "target": "CDC26"
                },
                {
                    "source": "ANAPC13",
                    "target": "ANAPC5"
                },
                {
                    "source": "ANAPC13",
                    "target": "ANAPC16"
                },
                {
                    "source": "ANAPC13",
                    "target": "ANAPC15"
                },
                {
                    "source": "ANAPC5",
                    "target": "ANAPC2"
                },
                {
                    "source": "ANAPC5",
                    "target": "ANAPC1"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of ANAPC13 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_d10f6fd401624eb6aa719d5004efd991.setOption(option_d10f6fd401624eb6aa719d5004efd991);
    </script>
</body>
</html>
