<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="67b4b18759fe48de8160d644949db93b" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_67b4b18759fe48de8160d644949db93b = echarts.init(
            document.getElementById('67b4b18759fe48de8160d644949db93b'), 'white', {renderer: 'canvas'});
        var option_67b4b18759fe48de8160d644949db93b = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "POLR2I",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RECQL5",
                    "symbolSize": 35,
                    "itemStyle": {
                        "normal": {
                            "color": "orange"
                        }
                    }
                },
                {
                    "name": "MED26",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "POLR2M",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "POLR2L",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "POLR2J",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "BRCA1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "POLR2E",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "POLR2G",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CDK9",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "POLR2F",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "POLR2C",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "POLR2A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "POLR2B",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MED4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MED7",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MED21",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "POLR2D",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CDK7",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "MED26",
                    "target": "MED4"
                },
                {
                    "source": "MED26",
                    "target": "POLR2G"
                },
                {
                    "source": "MED26",
                    "target": "MED7"
                },
                {
                    "source": "MED26",
                    "target": "MED21"
                },
                {
                    "source": "POLR2G",
                    "target": "RECQL5"
                },
                {
                    "source": "POLR2G",
                    "target": "POLR2I"
                },
                {
                    "source": "POLR2G",
                    "target": "POLR2A"
                },
                {
                    "source": "POLR2G",
                    "target": "POLR2D"
                },
                {
                    "source": "POLR2G",
                    "target": "POLR2J"
                },
                {
                    "source": "POLR2G",
                    "target": "POLR2L"
                },
                {
                    "source": "POLR2G",
                    "target": "POLR2C"
                },
                {
                    "source": "POLR2G",
                    "target": "POLR2B"
                },
                {
                    "source": "RECQL5",
                    "target": "POLR2A"
                },
                {
                    "source": "RECQL5",
                    "target": "POLR2C"
                },
                {
                    "source": "RECQL5",
                    "target": "POLR2E"
                },
                {
                    "source": "RECQL5",
                    "target": "POLR2B"
                },
                {
                    "source": "RECQL5",
                    "target": "POLR2D"
                },
                {
                    "source": "RECQL5",
                    "target": "POLR2M"
                },
                {
                    "source": "RECQL5",
                    "target": "POLR2I"
                },
                {
                    "source": "POLR2A",
                    "target": "POLR2I"
                },
                {
                    "source": "POLR2A",
                    "target": "CDK9"
                },
                {
                    "source": "POLR2A",
                    "target": "CDK7"
                },
                {
                    "source": "POLR2A",
                    "target": "BRCA1"
                },
                {
                    "source": "POLR2A",
                    "target": "POLR2C"
                },
                {
                    "source": "POLR2A",
                    "target": "POLR2E"
                },
                {
                    "source": "POLR2A",
                    "target": "POLR2B"
                },
                {
                    "source": "POLR2A",
                    "target": "POLR2D"
                },
                {
                    "source": "POLR2C",
                    "target": "POLR2D"
                },
                {
                    "source": "POLR2C",
                    "target": "POLR2B"
                },
                {
                    "source": "POLR2C",
                    "target": "POLR2J"
                },
                {
                    "source": "POLR2E",
                    "target": "POLR2I"
                },
                {
                    "source": "POLR2B",
                    "target": "POLR2D"
                },
                {
                    "source": "POLR2B",
                    "target": "POLR2J"
                },
                {
                    "source": "POLR2D",
                    "target": "POLR2I"
                },
                {
                    "source": "POLR2D",
                    "target": "POLR2L"
                },
                {
                    "source": "POLR2M",
                    "target": "POLR2I"
                },
                {
                    "source": "POLR2I",
                    "target": "POLR2F"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of POLR2I union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_67b4b18759fe48de8160d644949db93b.setOption(option_67b4b18759fe48de8160d644949db93b);
    </script>
</body>
</html>
