<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="5975dc0a45ba47b58fdd2cbecc452459" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_5975dc0a45ba47b58fdd2cbecc452459 = echarts.init(
            document.getElementById('5975dc0a45ba47b58fdd2cbecc452459'), 'white', {renderer: 'canvas'});
        var option_5975dc0a45ba47b58fdd2cbecc452459 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "TRAF6",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TAB2",
                    "symbolSize": 35,
                    "itemStyle": {
                        "normal": {
                            "color": "orange"
                        }
                    }
                },
                {
                    "name": "NCOA3",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "NCOA2",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "NCOA1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "NR3C1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "AR",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "UBE2N",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NR1I2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ESR2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PPARG",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "UBC",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CREBBP",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "VDR",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RXRA",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "STAT6",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "EP300",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ESR1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RARA",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TNFAIP3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "THRB",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SPOP",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MAGEA11",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "IRAK1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MAP3K7",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "IKBKG",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "SQSTM1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CD40",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TRAF3IP2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TAB1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TNF",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TRAF2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "RIPK1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "NCOR1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "SRC",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "HDAC3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TBL1X",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "NCOA3",
                    "target": "ESR1"
                },
                {
                    "source": "NCOA3",
                    "target": "CREBBP"
                },
                {
                    "source": "NCOA3",
                    "target": "EP300"
                },
                {
                    "source": "NCOA3",
                    "target": "PPARG"
                },
                {
                    "source": "NCOA3",
                    "target": "SPOP"
                },
                {
                    "source": "NCOA3",
                    "target": "ESR2"
                },
                {
                    "source": "NCOA3",
                    "target": "RARA"
                },
                {
                    "source": "NCOA3",
                    "target": "VDR"
                },
                {
                    "source": "NCOA3",
                    "target": "AR"
                },
                {
                    "source": "ESR1",
                    "target": "NCOA2"
                },
                {
                    "source": "ESR1",
                    "target": "NCOA1"
                },
                {
                    "source": "ESR1",
                    "target": "TAB2"
                },
                {
                    "source": "ESR1",
                    "target": "EP300"
                },
                {
                    "source": "ESR1",
                    "target": "SRC"
                },
                {
                    "source": "CREBBP",
                    "target": "NCOA2"
                },
                {
                    "source": "CREBBP",
                    "target": "NCOA1"
                },
                {
                    "source": "PPARG",
                    "target": "NCOA2"
                },
                {
                    "source": "PPARG",
                    "target": "NCOA1"
                },
                {
                    "source": "PPARG",
                    "target": "NCOR1"
                },
                {
                    "source": "ESR2",
                    "target": "NCOA2"
                },
                {
                    "source": "ESR2",
                    "target": "NCOA1"
                },
                {
                    "source": "RARA",
                    "target": "NCOA2"
                },
                {
                    "source": "RARA",
                    "target": "NCOA1"
                },
                {
                    "source": "RARA",
                    "target": "NCOR1"
                },
                {
                    "source": "VDR",
                    "target": "NCOA2"
                },
                {
                    "source": "VDR",
                    "target": "NCOA1"
                },
                {
                    "source": "AR",
                    "target": "NCOA2"
                },
                {
                    "source": "AR",
                    "target": "NCOR1"
                },
                {
                    "source": "NCOA2",
                    "target": "NR3C1"
                },
                {
                    "source": "NCOA2",
                    "target": "NCOA1"
                },
                {
                    "source": "NCOA2",
                    "target": "MAGEA11"
                },
                {
                    "source": "NCOA1",
                    "target": "RXRA"
                },
                {
                    "source": "NCOA1",
                    "target": "STAT6"
                },
                {
                    "source": "NCOA1",
                    "target": "NR1I2"
                },
                {
                    "source": "NCOA1",
                    "target": "THRB"
                },
                {
                    "source": "TRAF6",
                    "target": "IRAK1"
                },
                {
                    "source": "TRAF6",
                    "target": "MAP3K7"
                },
                {
                    "source": "TRAF6",
                    "target": "UBE2N"
                },
                {
                    "source": "TRAF6",
                    "target": "IKBKG"
                },
                {
                    "source": "TRAF6",
                    "target": "SQSTM1"
                },
                {
                    "source": "TRAF6",
                    "target": "TAB2"
                },
                {
                    "source": "TRAF6",
                    "target": "CD40"
                },
                {
                    "source": "TRAF6",
                    "target": "TNFAIP3"
                },
                {
                    "source": "TRAF6",
                    "target": "TRAF3IP2"
                },
                {
                    "source": "IRAK1",
                    "target": "TAB2"
                },
                {
                    "source": "MAP3K7",
                    "target": "TAB2"
                },
                {
                    "source": "MAP3K7",
                    "target": "TAB1"
                },
                {
                    "source": "IKBKG",
                    "target": "UBC"
                },
                {
                    "source": "IKBKG",
                    "target": "RIPK1"
                },
                {
                    "source": "SQSTM1",
                    "target": "UBC"
                },
                {
                    "source": "TAB2",
                    "target": "UBC"
                },
                {
                    "source": "TAB2",
                    "target": "TAB1"
                },
                {
                    "source": "TAB2",
                    "target": "TNF"
                },
                {
                    "source": "TAB2",
                    "target": "TRAF2"
                },
                {
                    "source": "TAB2",
                    "target": "RIPK1"
                },
                {
                    "source": "TAB2",
                    "target": "NCOR1"
                },
                {
                    "source": "CD40",
                    "target": "TRAF2"
                },
                {
                    "source": "TNF",
                    "target": "RIPK1"
                },
                {
                    "source": "TNF",
                    "target": "TRAF2"
                },
                {
                    "source": "TRAF2",
                    "target": "RIPK1"
                },
                {
                    "source": "NCOR1",
                    "target": "HDAC3"
                },
                {
                    "source": "NCOR1",
                    "target": "TBL1X"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of TRAF6 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_5975dc0a45ba47b58fdd2cbecc452459.setOption(option_5975dc0a45ba47b58fdd2cbecc452459);
    </script>
</body>
</html>
