<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="223110e02b2345529604ecfa7a32b393" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_223110e02b2345529604ecfa7a32b393 = echarts.init(
            document.getElementById('223110e02b2345529604ecfa7a32b393'), 'white', {renderer: 'canvas'});
        var option_223110e02b2345529604ecfa7a32b393 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "RPS3",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPS10",
                    "symbolSize": 35,
                    "itemStyle": {
                        "normal": {
                            "color": "orange"
                        }
                    }
                },
                {
                    "name": "TAF9",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "LARP7",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "MDM2",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "CDKN2A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CCNT1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPS20",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ZC3H8",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPS14",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "BYSL",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPL31",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TAF6L",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPL11",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TRIM28",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPS13",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TBP",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TP53",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HNRNPA1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CDK9",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPS16",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPS2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPS4X",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPSA",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPS8",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TAF6",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TRA2A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPS3A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPS5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPS12",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPL5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TAF10",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RPS6",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MEPCE",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "KAT2A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "MDM4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "UBE2D3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "TAF9",
                    "target": "TAF6"
                },
                {
                    "source": "TAF9",
                    "target": "TAF10"
                },
                {
                    "source": "TAF9",
                    "target": "RPS14"
                },
                {
                    "source": "TAF9",
                    "target": "TAF6L"
                },
                {
                    "source": "TAF9",
                    "target": "KAT2A"
                },
                {
                    "source": "TAF9",
                    "target": "TBP"
                },
                {
                    "source": "TAF9",
                    "target": "TP53"
                },
                {
                    "source": "RPS14",
                    "target": "RPS10"
                },
                {
                    "source": "RPS14",
                    "target": "RPS3A"
                },
                {
                    "source": "RPS14",
                    "target": "RPS6"
                },
                {
                    "source": "RPS14",
                    "target": "RPS13"
                },
                {
                    "source": "RPS14",
                    "target": "MDM2"
                },
                {
                    "source": "TP53",
                    "target": "MDM2"
                },
                {
                    "source": "LARP7",
                    "target": "CDK9"
                },
                {
                    "source": "LARP7",
                    "target": "MEPCE"
                },
                {
                    "source": "LARP7",
                    "target": "CCNT1"
                },
                {
                    "source": "LARP7",
                    "target": "RPS8"
                },
                {
                    "source": "LARP7",
                    "target": "TRIM28"
                },
                {
                    "source": "LARP7",
                    "target": "HNRNPA1"
                },
                {
                    "source": "LARP7",
                    "target": "ZC3H8"
                },
                {
                    "source": "LARP7",
                    "target": "RPL31"
                },
                {
                    "source": "LARP7",
                    "target": "TRA2A"
                },
                {
                    "source": "LARP7",
                    "target": "RPS16"
                },
                {
                    "source": "RPS8",
                    "target": "RPS10"
                },
                {
                    "source": "RPS8",
                    "target": "RPS3A"
                },
                {
                    "source": "RPS8",
                    "target": "RPS6"
                },
                {
                    "source": "RPS8",
                    "target": "RPS4X"
                },
                {
                    "source": "RPS8",
                    "target": "RPS13"
                },
                {
                    "source": "RPS8",
                    "target": "RPS16"
                },
                {
                    "source": "MDM2",
                    "target": "MDM4"
                },
                {
                    "source": "MDM2",
                    "target": "RPL11"
                },
                {
                    "source": "MDM2",
                    "target": "CDKN2A"
                },
                {
                    "source": "MDM2",
                    "target": "RPL5"
                },
                {
                    "source": "MDM2",
                    "target": "UBE2D3"
                },
                {
                    "source": "RPS3",
                    "target": "RPS2"
                },
                {
                    "source": "RPS3",
                    "target": "BYSL"
                },
                {
                    "source": "RPS3",
                    "target": "RPSA"
                },
                {
                    "source": "RPS3",
                    "target": "RPS20"
                },
                {
                    "source": "RPS3",
                    "target": "RPS10"
                },
                {
                    "source": "RPS3",
                    "target": "RPS3A"
                },
                {
                    "source": "RPS3",
                    "target": "RPS5"
                },
                {
                    "source": "RPS3",
                    "target": "RPS6"
                },
                {
                    "source": "RPS3",
                    "target": "RPS4X"
                },
                {
                    "source": "RPS3",
                    "target": "RPS13"
                },
                {
                    "source": "RPS2",
                    "target": "RPS10"
                },
                {
                    "source": "RPS2",
                    "target": "RPS3A"
                },
                {
                    "source": "RPS2",
                    "target": "RPS5"
                },
                {
                    "source": "RPS2",
                    "target": "RPS16"
                },
                {
                    "source": "RPS2",
                    "target": "RPS13"
                },
                {
                    "source": "RPS2",
                    "target": "RPS20"
                },
                {
                    "source": "RPS20",
                    "target": "RPS10"
                },
                {
                    "source": "RPS20",
                    "target": "RPS3A"
                },
                {
                    "source": "RPS20",
                    "target": "RPS4X"
                },
                {
                    "source": "RPS10",
                    "target": "RPS4X"
                },
                {
                    "source": "RPS10",
                    "target": "RPS16"
                },
                {
                    "source": "RPS10",
                    "target": "RPS12"
                },
                {
                    "source": "RPS10",
                    "target": "RPS13"
                },
                {
                    "source": "RPS10",
                    "target": "RPS3A"
                },
                {
                    "source": "RPS3A",
                    "target": "RPS16"
                },
                {
                    "source": "RPS3A",
                    "target": "RPS12"
                },
                {
                    "source": "RPS3A",
                    "target": "RPS6"
                },
                {
                    "source": "RPS6",
                    "target": "RPS4X"
                },
                {
                    "source": "RPS6",
                    "target": "RPS12"
                },
                {
                    "source": "RPS6",
                    "target": "RPS13"
                },
                {
                    "source": "RPS4X",
                    "target": "RPS12"
                },
                {
                    "source": "RPS13",
                    "target": "RPS16"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of RPS3 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_223110e02b2345529604ecfa7a32b393.setOption(option_223110e02b2345529604ecfa7a32b393);
    </script>
</body>
</html>
