<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="c4046d638c0443c09d98cc34d22bdb95" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_c4046d638c0443c09d98cc34d22bdb95 = echarts.init(
            document.getElementById('c4046d638c0443c09d98cc34d22bdb95'), 'white', {renderer: 'canvas'});
        var option_c4046d638c0443c09d98cc34d22bdb95 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "TNFAIP3",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MAPT",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "BAD",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "TNIP1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "MAPK1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NFKB1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TRAF6",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "UBC",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "YWHAE",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "YWHAZ",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HDAC6",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "BCL2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "GSK3B",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "STUB1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "FYN",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CDK5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "SNCA",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "BCL2L1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "AKT1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "YWHAQ",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "BCL2L2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "SFN",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "YWHAB",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "YWHAH",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "OPTN",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TAX1BP1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "IKBKG",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "RIPK1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TRAF2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "RAF1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "BRAF",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "MAPT",
                    "target": "GSK3B"
                },
                {
                    "source": "MAPT",
                    "target": "STUB1"
                },
                {
                    "source": "MAPT",
                    "target": "FYN"
                },
                {
                    "source": "MAPT",
                    "target": "YWHAZ"
                },
                {
                    "source": "MAPT",
                    "target": "CDK5"
                },
                {
                    "source": "MAPT",
                    "target": "HDAC6"
                },
                {
                    "source": "MAPT",
                    "target": "SNCA"
                },
                {
                    "source": "YWHAZ",
                    "target": "BAD"
                },
                {
                    "source": "YWHAZ",
                    "target": "TNFAIP3"
                },
                {
                    "source": "YWHAZ",
                    "target": "RAF1"
                },
                {
                    "source": "YWHAZ",
                    "target": "YWHAE"
                },
                {
                    "source": "YWHAZ",
                    "target": "BRAF"
                },
                {
                    "source": "BAD",
                    "target": "BCL2L1"
                },
                {
                    "source": "BAD",
                    "target": "BCL2"
                },
                {
                    "source": "BAD",
                    "target": "AKT1"
                },
                {
                    "source": "BAD",
                    "target": "YWHAQ"
                },
                {
                    "source": "BAD",
                    "target": "BCL2L2"
                },
                {
                    "source": "BAD",
                    "target": "YWHAE"
                },
                {
                    "source": "BAD",
                    "target": "SFN"
                },
                {
                    "source": "BAD",
                    "target": "YWHAB"
                },
                {
                    "source": "BAD",
                    "target": "YWHAH"
                },
                {
                    "source": "TNIP1",
                    "target": "OPTN"
                },
                {
                    "source": "TNIP1",
                    "target": "TNFAIP3"
                },
                {
                    "source": "TNIP1",
                    "target": "UBC"
                },
                {
                    "source": "TNIP1",
                    "target": "NFKB1"
                },
                {
                    "source": "TNIP1",
                    "target": "TAX1BP1"
                },
                {
                    "source": "TNIP1",
                    "target": "MAPK1"
                },
                {
                    "source": "TNIP1",
                    "target": "IKBKG"
                },
                {
                    "source": "TNFAIP3",
                    "target": "UBC"
                },
                {
                    "source": "TNFAIP3",
                    "target": "TRAF6"
                },
                {
                    "source": "TNFAIP3",
                    "target": "IKBKG"
                },
                {
                    "source": "TNFAIP3",
                    "target": "RIPK1"
                },
                {
                    "source": "TNFAIP3",
                    "target": "TAX1BP1"
                },
                {
                    "source": "TNFAIP3",
                    "target": "TRAF2"
                },
                {
                    "source": "UBC",
                    "target": "IKBKG"
                },
                {
                    "source": "UBC",
                    "target": "TAX1BP1"
                },
                {
                    "source": "IKBKG",
                    "target": "TRAF6"
                },
                {
                    "source": "IKBKG",
                    "target": "RIPK1"
                },
                {
                    "source": "RIPK1",
                    "target": "TRAF2"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of TNFAIP3 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_c4046d638c0443c09d98cc34d22bdb95.setOption(option_c4046d638c0443c09d98cc34d22bdb95);
    </script>
</body>
</html>
