<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="d20b5d640d5e41c5be09b14296576c48" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_d20b5d640d5e41c5be09b14296576c48 = echarts.init(
            document.getElementById('d20b5d640d5e41c5be09b14296576c48'), 'white', {renderer: 'canvas'});
        var option_d20b5d640d5e41c5be09b14296576c48 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "NOTCH3",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "WWP2",
                    "symbolSize": 35,
                    "itemStyle": {
                        "normal": {
                            "color": "orange"
                        }
                    }
                },
                {
                    "name": "SOX2",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "HNRNPUL1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "POU5F1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "FOXD3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "UBE2L3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CHD7",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SALL4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NOTCH1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NFIC",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SKI",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RBPJ",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CREBBP",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "EP300",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "WBP2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SMAD4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SMAD3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NCOR1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PAK2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "WWOX",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "STUB1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "TUBA1A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PTEN",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ARRDC1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "DVL2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "SMURF2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "SOX2",
                    "target": "CHD7"
                },
                {
                    "source": "SOX2",
                    "target": "POU5F1"
                },
                {
                    "source": "SOX2",
                    "target": "NCOR1"
                },
                {
                    "source": "SOX2",
                    "target": "PAK2"
                },
                {
                    "source": "SOX2",
                    "target": "EP300"
                },
                {
                    "source": "SOX2",
                    "target": "NFIC"
                },
                {
                    "source": "POU5F1",
                    "target": "WWP2"
                },
                {
                    "source": "POU5F1",
                    "target": "STUB1"
                },
                {
                    "source": "POU5F1",
                    "target": "SALL4"
                },
                {
                    "source": "POU5F1",
                    "target": "FOXD3"
                },
                {
                    "source": "POU5F1",
                    "target": "TUBA1A"
                },
                {
                    "source": "EP300",
                    "target": "SMAD3"
                },
                {
                    "source": "HNRNPUL1",
                    "target": "WWP2"
                },
                {
                    "source": "HNRNPUL1",
                    "target": "WWOX"
                },
                {
                    "source": "WWP2",
                    "target": "NOTCH3"
                },
                {
                    "source": "WWP2",
                    "target": "PTEN"
                },
                {
                    "source": "WWP2",
                    "target": "ARRDC1"
                },
                {
                    "source": "WWP2",
                    "target": "UBE2L3"
                },
                {
                    "source": "WWP2",
                    "target": "WBP2"
                },
                {
                    "source": "WWP2",
                    "target": "DVL2"
                },
                {
                    "source": "WWP2",
                    "target": "SMAD3"
                },
                {
                    "source": "NOTCH3",
                    "target": "RBPJ"
                },
                {
                    "source": "NOTCH3",
                    "target": "NOTCH1"
                },
                {
                    "source": "SMAD3",
                    "target": "SMAD4"
                },
                {
                    "source": "SMAD3",
                    "target": "SKI"
                },
                {
                    "source": "SMAD3",
                    "target": "SMURF2"
                },
                {
                    "source": "SMAD3",
                    "target": "CREBBP"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of NOTCH3 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_d20b5d640d5e41c5be09b14296576c48.setOption(option_d20b5d640d5e41c5be09b14296576c48);
    </script>
</body>
</html>
