<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="2a675c85edee4ce7a3a1408a498ce49f" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_2a675c85edee4ce7a3a1408a498ce49f = echarts.init(
            document.getElementById('2a675c85edee4ce7a3a1408a498ce49f'), 'white', {renderer: 'canvas'});
        var option_2a675c85edee4ce7a3a1408a498ce49f = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "RBBP5",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SETD1B",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "SETD1A",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "RXRA",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "KMT2D",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ESR1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "TP53",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "KMT2C",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PPARG",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "KMT2A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CXXC1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "FOXK2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "WDR5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "ASH2L",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "WDR82",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "DPY30",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "HCFC1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "HCFC2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "NCOA6",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "PAXIP1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "SETD1B",
                    "target": "WDR5"
                },
                {
                    "source": "SETD1B",
                    "target": "CXXC1"
                },
                {
                    "source": "SETD1B",
                    "target": "RBBP5"
                },
                {
                    "source": "SETD1B",
                    "target": "ASH2L"
                },
                {
                    "source": "SETD1B",
                    "target": "WDR82"
                },
                {
                    "source": "SETD1B",
                    "target": "SETD1A"
                },
                {
                    "source": "SETD1B",
                    "target": "FOXK2"
                },
                {
                    "source": "SETD1B",
                    "target": "DPY30"
                },
                {
                    "source": "WDR5",
                    "target": "SETD1A"
                },
                {
                    "source": "WDR5",
                    "target": "RBBP5"
                },
                {
                    "source": "WDR5",
                    "target": "KMT2A"
                },
                {
                    "source": "WDR5",
                    "target": "ASH2L"
                },
                {
                    "source": "WDR5",
                    "target": "KMT2D"
                },
                {
                    "source": "WDR5",
                    "target": "CXXC1"
                },
                {
                    "source": "WDR5",
                    "target": "KMT2C"
                },
                {
                    "source": "WDR5",
                    "target": "NCOA6"
                },
                {
                    "source": "WDR5",
                    "target": "PAXIP1"
                },
                {
                    "source": "CXXC1",
                    "target": "SETD1A"
                },
                {
                    "source": "CXXC1",
                    "target": "RBBP5"
                },
                {
                    "source": "CXXC1",
                    "target": "ASH2L"
                },
                {
                    "source": "RBBP5",
                    "target": "SETD1A"
                },
                {
                    "source": "RBBP5",
                    "target": "ASH2L"
                },
                {
                    "source": "RBBP5",
                    "target": "KMT2A"
                },
                {
                    "source": "RBBP5",
                    "target": "KMT2D"
                },
                {
                    "source": "RBBP5",
                    "target": "KMT2C"
                },
                {
                    "source": "RBBP5",
                    "target": "NCOA6"
                },
                {
                    "source": "RBBP5",
                    "target": "PAXIP1"
                },
                {
                    "source": "ASH2L",
                    "target": "SETD1A"
                },
                {
                    "source": "ASH2L",
                    "target": "KMT2A"
                },
                {
                    "source": "ASH2L",
                    "target": "KMT2D"
                },
                {
                    "source": "ASH2L",
                    "target": "KMT2C"
                },
                {
                    "source": "ASH2L",
                    "target": "NCOA6"
                },
                {
                    "source": "ASH2L",
                    "target": "PAXIP1"
                },
                {
                    "source": "WDR82",
                    "target": "SETD1A"
                },
                {
                    "source": "SETD1A",
                    "target": "HCFC1"
                },
                {
                    "source": "SETD1A",
                    "target": "TP53"
                },
                {
                    "source": "SETD1A",
                    "target": "DPY30"
                },
                {
                    "source": "SETD1A",
                    "target": "HCFC2"
                },
                {
                    "source": "RXRA",
                    "target": "PPARG"
                },
                {
                    "source": "RXRA",
                    "target": "NCOA6"
                },
                {
                    "source": "NCOA6",
                    "target": "KMT2C"
                },
                {
                    "source": "NCOA6",
                    "target": "ESR1"
                },
                {
                    "source": "KMT2C",
                    "target": "PAXIP1"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of RBBP5 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_2a675c85edee4ce7a3a1408a498ce49f.setOption(option_2a675c85edee4ce7a3a1408a498ce49f);
    </script>
</body>
</html>
