<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="58edf39ffa24436c9242e77b69d2eec0" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_58edf39ffa24436c9242e77b69d2eec0 = echarts.init(
            document.getElementById('58edf39ffa24436c9242e77b69d2eec0'), 'white', {renderer: 'canvas'});
        var option_58edf39ffa24436c9242e77b69d2eec0 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "GEMIN5",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "GAR1",
                    "symbolSize": 35,
                    "itemStyle": {
                        "normal": {
                            "color": "orange"
                        }
                    }
                },
                {
                    "name": "SNRNP70",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "NAF1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "GEMIN2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NOP10",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "WRAP53",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SNRPG",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SNRPC",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SNRPD2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RNPS1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SNRPF",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SNRPE",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SNRPD1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "DDX20",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SRSF1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "UBR5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SMN1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SRPK2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SNRPD3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "NHP2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "DKC1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CLNS1A",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PRMT5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "WDR77",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "GEMIN7",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "GAR1",
                    "target": "DKC1"
                },
                {
                    "source": "GAR1",
                    "target": "CLNS1A"
                },
                {
                    "source": "GAR1",
                    "target": "PRMT5"
                },
                {
                    "source": "GAR1",
                    "target": "NHP2"
                },
                {
                    "source": "GAR1",
                    "target": "NOP10"
                },
                {
                    "source": "GAR1",
                    "target": "GEMIN5"
                },
                {
                    "source": "GAR1",
                    "target": "WRAP53"
                },
                {
                    "source": "GAR1",
                    "target": "SMN1"
                },
                {
                    "source": "GAR1",
                    "target": "WDR77"
                },
                {
                    "source": "DKC1",
                    "target": "NAF1"
                },
                {
                    "source": "DKC1",
                    "target": "NHP2"
                },
                {
                    "source": "DKC1",
                    "target": "NOP10"
                },
                {
                    "source": "DKC1",
                    "target": "WRAP53"
                },
                {
                    "source": "CLNS1A",
                    "target": "SNRPG"
                },
                {
                    "source": "CLNS1A",
                    "target": "SNRPD3"
                },
                {
                    "source": "CLNS1A",
                    "target": "PRMT5"
                },
                {
                    "source": "CLNS1A",
                    "target": "SNRPD1"
                },
                {
                    "source": "CLNS1A",
                    "target": "SNRPD2"
                },
                {
                    "source": "CLNS1A",
                    "target": "WDR77"
                },
                {
                    "source": "PRMT5",
                    "target": "WDR77"
                },
                {
                    "source": "NHP2",
                    "target": "NAF1"
                },
                {
                    "source": "NHP2",
                    "target": "NOP10"
                },
                {
                    "source": "NHP2",
                    "target": "UBR5"
                },
                {
                    "source": "NOP10",
                    "target": "NAF1"
                },
                {
                    "source": "NOP10",
                    "target": "SNRNP70"
                },
                {
                    "source": "GEMIN5",
                    "target": "DDX20"
                },
                {
                    "source": "GEMIN5",
                    "target": "SMN1"
                },
                {
                    "source": "GEMIN5",
                    "target": "SNRNP70"
                },
                {
                    "source": "GEMIN5",
                    "target": "GEMIN2"
                },
                {
                    "source": "GEMIN5",
                    "target": "SNRPE"
                },
                {
                    "source": "GEMIN5",
                    "target": "SNRPF"
                },
                {
                    "source": "GEMIN5",
                    "target": "SNRPG"
                },
                {
                    "source": "GEMIN5",
                    "target": "SNRPD3"
                },
                {
                    "source": "SMN1",
                    "target": "DDX20"
                },
                {
                    "source": "SMN1",
                    "target": "GEMIN2"
                },
                {
                    "source": "SNRNP70",
                    "target": "SRPK2"
                },
                {
                    "source": "SNRNP70",
                    "target": "SRSF1"
                },
                {
                    "source": "SNRNP70",
                    "target": "SNRPD2"
                },
                {
                    "source": "SNRNP70",
                    "target": "SNRPD1"
                },
                {
                    "source": "SNRNP70",
                    "target": "RNPS1"
                },
                {
                    "source": "SNRNP70",
                    "target": "SNRPC"
                },
                {
                    "source": "SNRNP70",
                    "target": "DDX20"
                },
                {
                    "source": "SNRNP70",
                    "target": "SNRPD3"
                },
                {
                    "source": "SNRNP70",
                    "target": "GEMIN7"
                },
                {
                    "source": "SNRNP70",
                    "target": "SNRPE"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of GEMIN5 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_58edf39ffa24436c9242e77b69d2eec0.setOption(option_58edf39ffa24436c9242e77b69d2eec0);
    </script>
</body>
</html>
