<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="e596db6ef6fd47bf933be98c2a41fca5" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_e596db6ef6fd47bf933be98c2a41fca5 = echarts.init(
            document.getElementById('e596db6ef6fd47bf933be98c2a41fca5'), 'white', {renderer: 'canvas'});
        var option_e596db6ef6fd47bf933be98c2a41fca5 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "FIP1L1",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HNRNPA1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "CSTF2",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "HNRNPA2B1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "CPSF4",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HNRNPC",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HNRNPR",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HNRNPK",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CPSF3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CSTF3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HNRNPL",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PTBP1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "EIF4B",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HNRNPH1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HNRNPH3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ELAVL1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "WDR33",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ZC3H18",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HNRNPD",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "BARD1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PRMT1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SUB1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "BRCA1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CPSF2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CSTF2T",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CPSF4L",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "SYMPK",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                },
                {
                    "name": "CPSF1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "HNRNPA1",
                    "target": "HNRNPA2B1"
                },
                {
                    "source": "HNRNPA1",
                    "target": "HNRNPH1"
                },
                {
                    "source": "HNRNPA1",
                    "target": "HNRNPR"
                },
                {
                    "source": "HNRNPA1",
                    "target": "HNRNPH3"
                },
                {
                    "source": "HNRNPA1",
                    "target": "ELAVL1"
                },
                {
                    "source": "HNRNPA1",
                    "target": "PRMT1"
                },
                {
                    "source": "HNRNPA1",
                    "target": "HNRNPC"
                },
                {
                    "source": "HNRNPA1",
                    "target": "PTBP1"
                },
                {
                    "source": "HNRNPA1",
                    "target": "HNRNPL"
                },
                {
                    "source": "HNRNPA1",
                    "target": "HNRNPK"
                },
                {
                    "source": "HNRNPA1",
                    "target": "FIP1L1"
                },
                {
                    "source": "HNRNPA2B1",
                    "target": "HNRNPD"
                },
                {
                    "source": "HNRNPA2B1",
                    "target": "HNRNPL"
                },
                {
                    "source": "HNRNPA2B1",
                    "target": "HNRNPH1"
                },
                {
                    "source": "CSTF2",
                    "target": "SYMPK"
                },
                {
                    "source": "CSTF2",
                    "target": "BARD1"
                },
                {
                    "source": "CSTF2",
                    "target": "CSTF3"
                },
                {
                    "source": "CSTF2",
                    "target": "BRCA1"
                },
                {
                    "source": "CSTF2",
                    "target": "CPSF3"
                },
                {
                    "source": "CSTF2",
                    "target": "CPSF2"
                },
                {
                    "source": "CSTF2",
                    "target": "SUB1"
                },
                {
                    "source": "CSTF2",
                    "target": "CSTF2T"
                },
                {
                    "source": "CSTF2",
                    "target": "EIF4B"
                },
                {
                    "source": "SYMPK",
                    "target": "CPSF4"
                },
                {
                    "source": "SYMPK",
                    "target": "CPSF3"
                },
                {
                    "source": "SYMPK",
                    "target": "CPSF2"
                },
                {
                    "source": "CSTF3",
                    "target": "FIP1L1"
                },
                {
                    "source": "CSTF3",
                    "target": "CPSF1"
                },
                {
                    "source": "CSTF3",
                    "target": "CSTF2T"
                },
                {
                    "source": "CPSF3",
                    "target": "FIP1L1"
                },
                {
                    "source": "CPSF3",
                    "target": "CPSF4"
                },
                {
                    "source": "CPSF3",
                    "target": "CPSF1"
                },
                {
                    "source": "CPSF3",
                    "target": "CPSF2"
                },
                {
                    "source": "CPSF3",
                    "target": "WDR33"
                },
                {
                    "source": "CPSF2",
                    "target": "FIP1L1"
                },
                {
                    "source": "CPSF2",
                    "target": "CPSF1"
                },
                {
                    "source": "CPSF2",
                    "target": "WDR33"
                },
                {
                    "source": "FIP1L1",
                    "target": "CPSF4"
                },
                {
                    "source": "FIP1L1",
                    "target": "CPSF1"
                },
                {
                    "source": "FIP1L1",
                    "target": "WDR33"
                },
                {
                    "source": "FIP1L1",
                    "target": "ZC3H18"
                },
                {
                    "source": "FIP1L1",
                    "target": "CPSF4L"
                },
                {
                    "source": "CPSF4",
                    "target": "WDR33"
                },
                {
                    "source": "CPSF4",
                    "target": "CPSF1"
                },
                {
                    "source": "CPSF1",
                    "target": "WDR33"
                },
                {
                    "source": "WDR33",
                    "target": "CPSF4L"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of FIP1L1 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_e596db6ef6fd47bf933be98c2a41fca5.setOption(option_e596db6ef6fd47bf933be98c2a41fca5);
    </script>
</body>
</html>
