<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="3a1e653ed0174575886c1d23c4b3cd93" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_3a1e653ed0174575886c1d23c4b3cd93 = echarts.init(
            document.getElementById('3a1e653ed0174575886c1d23c4b3cd93'), 'white', {renderer: 'canvas'});
        var option_3a1e653ed0174575886c1d23c4b3cd93 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "MATR3",
                    "symbolSize": 40,
                    "itemStyle": {
                        "normal": {
                            "color": "#FFA500",
                            "borderColor": "red",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HNRNPA1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "HNRNPA2B1",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "HNRNPA3",
                    "symbolSize": 30,
                    "itemStyle": {
                        "normal": {
                            "color": "#FF6347"
                        }
                    }
                },
                {
                    "name": "PRKN",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PTBP3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PRMT1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PTBP1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "H4C1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HNRNPC",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "DDX17",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HNRNPK",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HNRNPD",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HNRNPL",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ESR1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ZNF346",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "EIF2AK2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "DDX5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "FUS",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HNRNPH3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "PTBP2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ILF3",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HNRNPH1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "QKI",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "MEPCE",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "XPO5",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HNRNPUL2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "HNRNPR",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ELAVL1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ILF2",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "EP300",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "RBM10",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "ZNF326",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "EWSR1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "KHDRBS1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "STAU1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF",
                            "borderColor": "#1E9000",
                            "borderWidth": 5
                        }
                    }
                },
                {
                    "name": "CSNK2A1",
                    "symbolSize": 20,
                    "itemStyle": {
                        "normal": {
                            "color": "#1E90FF"
                        }
                    }
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "HNRNPA1",
                    "target": "HNRNPA2B1"
                },
                {
                    "source": "HNRNPA1",
                    "target": "HNRNPH1"
                },
                {
                    "source": "HNRNPA1",
                    "target": "HNRNPR"
                },
                {
                    "source": "HNRNPA1",
                    "target": "HNRNPH3"
                },
                {
                    "source": "HNRNPA1",
                    "target": "ELAVL1"
                },
                {
                    "source": "HNRNPA1",
                    "target": "PRMT1"
                },
                {
                    "source": "HNRNPA1",
                    "target": "HNRNPC"
                },
                {
                    "source": "HNRNPA1",
                    "target": "PTBP1"
                },
                {
                    "source": "HNRNPA1",
                    "target": "HNRNPL"
                },
                {
                    "source": "HNRNPA1",
                    "target": "HNRNPK"
                },
                {
                    "source": "HNRNPA1",
                    "target": "HNRNPA3"
                },
                {
                    "source": "HNRNPA1",
                    "target": "MATR3"
                },
                {
                    "source": "HNRNPA1",
                    "target": "HNRNPUL2"
                },
                {
                    "source": "HNRNPA1",
                    "target": "ZNF326"
                },
                {
                    "source": "HNRNPA2B1",
                    "target": "HNRNPD"
                },
                {
                    "source": "HNRNPA2B1",
                    "target": "HNRNPL"
                },
                {
                    "source": "HNRNPA2B1",
                    "target": "CSNK2A1"
                },
                {
                    "source": "HNRNPA2B1",
                    "target": "HNRNPH1"
                },
                {
                    "source": "HNRNPA2B1",
                    "target": "PRKN"
                },
                {
                    "source": "HNRNPA2B1",
                    "target": "MATR3"
                },
                {
                    "source": "HNRNPH1",
                    "target": "HNRNPA3"
                },
                {
                    "source": "HNRNPH1",
                    "target": "MATR3"
                },
                {
                    "source": "HNRNPH1",
                    "target": "HNRNPL"
                },
                {
                    "source": "HNRNPH1",
                    "target": "HNRNPD"
                },
                {
                    "source": "ELAVL1",
                    "target": "PTBP3"
                },
                {
                    "source": "ELAVL1",
                    "target": "PTBP2"
                },
                {
                    "source": "PRMT1",
                    "target": "ILF3"
                },
                {
                    "source": "HNRNPK",
                    "target": "MATR3"
                },
                {
                    "source": "HNRNPK",
                    "target": "KHDRBS1"
                },
                {
                    "source": "HNRNPK",
                    "target": "QKI"
                },
                {
                    "source": "HNRNPD",
                    "target": "HNRNPA3"
                },
                {
                    "source": "MATR3",
                    "target": "HNRNPA3"
                },
                {
                    "source": "MATR3",
                    "target": "PTBP3"
                },
                {
                    "source": "MATR3",
                    "target": "ILF3"
                },
                {
                    "source": "MATR3",
                    "target": "DDX5"
                },
                {
                    "source": "MATR3",
                    "target": "HNRNPUL2"
                },
                {
                    "source": "MATR3",
                    "target": "PTBP2"
                },
                {
                    "source": "MATR3",
                    "target": "ZNF326"
                },
                {
                    "source": "HNRNPA3",
                    "target": "EWSR1"
                },
                {
                    "source": "HNRNPA3",
                    "target": "FUS"
                },
                {
                    "source": "HNRNPA3",
                    "target": "STAU1"
                },
                {
                    "source": "HNRNPA3",
                    "target": "H4C1"
                },
                {
                    "source": "PTBP3",
                    "target": "ESR1"
                },
                {
                    "source": "ILF3",
                    "target": "EIF2AK2"
                },
                {
                    "source": "ILF3",
                    "target": "ILF2"
                },
                {
                    "source": "ILF3",
                    "target": "XPO5"
                },
                {
                    "source": "ILF3",
                    "target": "ZNF346"
                },
                {
                    "source": "DDX5",
                    "target": "DDX17"
                },
                {
                    "source": "DDX5",
                    "target": "ESR1"
                },
                {
                    "source": "DDX5",
                    "target": "EP300"
                },
                {
                    "source": "HNRNPUL2",
                    "target": "MEPCE"
                },
                {
                    "source": "PTBP2",
                    "target": "RBM10"
                },
                {
                    "source": "PTBP2",
                    "target": "QKI"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Bio-condensate Network of MATR3 union",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_3a1e653ed0174575886c1d23c4b3cd93.setOption(option_3a1e653ed0174575886c1d23c4b3cd93);
    </script>
</body>
</html>
